

<div class="row" style='float:right;'>
	<div class="inputs">

	<span class="button blue_button"><span><span><em><a style="float:right;" href="<?php echo $this->webroot.'admin/tools'; ?>">Tool Lists </a></em></span></span></span>
		
	</div>		
</div>	

<div style="clear:both;"> </div>							
	<div class="table_wrapper">
								<div class="table_wrapper_inner">
								
									<?php echo $this->Form->create('Tool', array('type' => 'file')); ?>
	
			<table cellpadding="0" cellspacing="0" width="100%">
			
			
			
			<tr>
			
			<td> Select Category </td>
			
			<td>
			
			<?php echo $form->input('tool_category_id', array('label' => false, 'options'=>$categories,'div' => false)); ?>
			</td>
			</tr>
			
		
			</tr>
			
			<tr>
			<td style="width:100px;"> Title </td>
			
			<td>
			
			
			<?php echo $form->input('title', array('label' => false, 'size'=>'80px;','div' => false)); ?>
			
			</td>
			
			</tr>
			
			
			<tr>
			<td style="width:100px;"> Version </td>
			
			<td>			
			
			<?php echo $form->input('version', array('label' => false, 'size'=>'80px;','div' => false)); ?>
			
			</td>
			
			</tr>
			
			
				<tr>
			<td style="width:100px;"> Details </td>
			
			<td>			
			
			<?php echo $form->input('details', array('label' => false, 'size'=>'80px;','div' => false)); ?>
			
			</td>
			
			</tr>
			
				<tr>
			<td style="width:100px;"> Upload Tool </td>
			
			<td>			
			
			<?php echo $form->input('upload_source', array('label'=>false,'type' => 'file','div' => false)); ?>
			
			</td>
			
			</tr>
			
			
			<tr>
			
			<td> Status </td>
			
			<td>
			
			
			<?php echo $form->input('status', array('label' => false,'type'=>'checkbox', 'div' => false)); ?>
			
			
			</td>
			</tr>
			
			<tr>
			
			<td>  </td>
			
			<td>
			
			
			<?php echo $form->submit('Save'); ?>
			
			</td>
			
			
			</tr>
			</table>

<?php echo $form->end(); ?>


</div>
</div>