<?php
echo $javascript->link('fckeditor');
?>



<div class="row" style='float:right;'>
	<div class="inputs">

	<span class="button blue_button"><span><span><em><a style="float:right;" href="posts/">Content Lists </a></em></span></span></span>
		
	</div>		
</div>	

<div style="clear:both;"> </div>							
	<div class="table_wrapper">
								<div class="table_wrapper_inner">
								
									<?php echo $this->Form->create('Content', array('type' => 'file')); ?>
	
	<?php echo $form->input('id', array('label' => false, 'type'=>'hidden','div' => false)); ?>
	
	
			<table cellpadding="0" cellspacing="0" width="100%">
			
			<tr>
			<td style="width:100px;"> Page Identifier </td>
			
			<td>
			
			
			<?php echo $form->input('page_name', array('label' => false, 'size'=>'80px;','div' => false)); ?>
			
			</td>
			
			</tr>
			
			
			<tr>
			<td style="width:100px;"> Page Title </td>
			
			<td>
			
			
			<?php echo $form->input('page_title', array('label' => false, 'size'=>'80px;','div' => false)); ?>
			
			</td>
			
			</tr>
			
			<tr>
			
			<td style="vertical-align:text-top"> Description </td>
			
			<td>
			
			<?php echo $form->input('page_body', array('label' => false,  'style'=>'width:400px; height:200px;', 'div' => false));
				  echo $fck->load('Content/page_body');
			
			 ?>
			
			</td>
			
			</tr>
			
			
			
			<tr>
			
			<td> Published </td>
			
			<td>
			
			
			<?php echo $form->input('status', array('label' => false,'type'=>'checkbox', 'div' => false)); ?>
			
			
			</td>
			</tr>
			
			<tr>
			
			<td>  </td>
			
			<td>
			
			
			<?php echo $form->submit('Update'); ?>
			
			</td>
			
			
			</tr>
			</table>

<?php echo $form->end(); ?>


</div>
</div>