


<h1>Your Answer </h1>
<p style="color:#000000; font-weight:bold;">To create code blocks use [code] tag before block and after block use [/code] tag</p>
<p style="color:#000000; font-weight:bold;"">Example : &nbsp;[code] &nbsp; your block comments &nbsp; [/code] </p> 
<br />
<?php echo $this->Form->input('comments',array('label'=>false,'class'=>"required",'id'=>"elm1",'type'=>'textarea','style'=>'width:600px; height:200px; border:1px solid gray;')); ?>

<br />
<p class="comment_title">Name : </p>
<p>
<?php echo $this->Form->input('users',array('label'=>false,'class'=>"required")); ?>

</p>
<p class="comment_title">Email : </p>

<p>
<?php echo $this->Form->input('email',array('label'=>false,'class'=>"required")); ?>
</p>
<p class="comment_title">Website : </p>

<p>
<?php echo $this->Form->input('website_url',array('label'=>false)); ?>
</p>
