
<div class="flash_good" style="
	width:489px;
	padding:10px;
	vertical-align:center;
	z-index:16;
	left: 25px;
	background-color: #c8ffa4;
	border: 1px solid #348300;
	font-weight:bold;
	margin:0 0 15px;">
     <?php echo $this->Html->image('icon/positive.png', array( 'alt' => 'postive', 'style' => 'vertical-align:middle;')) ?>
     <span style="flash_good"> <?php echo $message; ?> </span> 
</div>  
