<div id="copyright">
	<span>
		Copyright &copy; 2012  Smartactic .All Rights Reserved. </span><span class="developed_by">Developed By <a target="_blank" href="http://www.nextgen-soft.com/">Nextgen Soft</a>	</span>
</div>