<div id='top_header'>	


<div id="head_site_name">
  <p class="title">CodeShare.info		</p>
   <p class="slogan">Way of Perfect coding</p>
</div>

   
   <div id="header_ads">
   <script type="text/javascript"><!--
google_ad_client = "ca-pub-6800487119330644";
/* ads2 */
google_ad_slot = "8403923089";
google_ad_width = 320;
google_ad_height = 50;
//-->
</script>


<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>


   </div>

</div>

<div id='smartHeaderRight'>		
<?php echo $this->Form->create('Post',array('controller'=>'posts','action'=>'index')); ?>
 <input type="text" name="data[Post][search_keyword]" /> <input type="submit" value="Search" name="Search" />	
<?php


 echo $this->Form->end(); ?>
</div>

<div id='code-share-top-menu'>

	<?php echo $this->element('layout/top-menu'); ?>		

</div>	