

<?php

	if(isset($transaction_result))
	{
	        echo "<p style='color:green;font-weight:bold'>";
	        echo "Acknowlegement ".$transaction_result['r_approved'];
			echo "<br>";
			echo "Transaction ID: ".$transaction_result['r_ordernum'];
			echo "</p>";
			
			
	
	}



?>

	 <?php echo $this->Form->create('PaymentGateway', array('action'=>'first_data_global_gateway_transaction','id'=>'DoDirectPaymentForm')); ?>
	 
	 
<table width=600>

<tr>
		<td align=right>Payment Type:</td>
		<td align=left><input checked type='radio'value='Sale' name="data[PaymentGateway][order_type]"  />Sale
<input type='radio' value='Authorization' name="data[PaymentGateway][order_type]" />Authorization

</td>
	</tr>
	<tr>
		<td align=right>First Name:</td>
		<td align=left><input type=text size=30 maxlength=32 name="data[PaymentGateway][full_name]" value=John></td>
	</tr>

	<tr>
		<td align=right>Card Type:</td>
		<td align=left>
			<select name="data[PaymentGateway][creditCardType]" id='creditCardType' onChange="javascript:generateCC(); return false;">
				<option value=Visa selected>Visa</option>
				<option value=MasterCard>MasterCard</option>
				<option value=Discover>Discover</option>
				<option value=Amex>American Express</option>
			</select>
		</td>
	</tr>
	<tr>
		<td align=right>Card Number:</td>
		<td align=left><input type=text size=19 maxlength=19 id='creditCardNumber' value='4111111111111111' name="data[PaymentGateway][card_number]"></td>
	</tr>
	<tr>
		<td align=right>Expiration Date:</td>
		<td align=left><p>
			<select name="data[PaymentGateway][month]">
				<option value=1>01</option>
				<option value=2>02</option>
				<option value=3>03</option>
				<option value=4>04</option>
				<option value=5>05</option>
				<option value=6>06</option>
				<option value=7>07</option>
				<option value=8>08</option>
				<option value=9>09</option>
				<option value=10>10</option>
				<option value=11>11</option>
				<option value=12>12</option>
			</select>
			<select name="data[PaymentGateway][year]">
			
				<option value=2012>2012</option>
				<option value=2013 selected>2013</option>
				<option value=2014>2014</option>
				<option value=2015>2015</option>
			</select>
		</p></td>
	</tr>
	<tr>
		<td align=right>Card Verification Number:</td>
		<td align=left><input type=text size=3 maxlength=4 name="data[PaymentGateway][cvv2Number]" value=962></td>
	</tr>
	<tr>
		<td align=right><br><b>Billing Address:</b></td>
	</tr>
	<tr>
		<td align=right>Address 1:</td>
		<td align=left><input type=text size=25 maxlength=100 name="data[PaymentGateway][billing_address]" value="1 Main St"></td>
	</tr>
	<tr>
		<td align=right>City:</td>
		<td align=left><input type=text  size=25 maxlength=100 name="data[PaymentGateway][city]">(optional)</td>
	</tr>
	<tr>
		<td align=right>Email:</td>
		<td align=left><input type=text size=25 maxlength=40 name="data[PaymentGateway][email]" value="arifhossen2010@gmail.com"></td>
	</tr>
	
	<tr>
		<td align=right><br>Order Total:</td>
		<td align=left><br><input type=text size=4 maxlength=7 name="data[PaymentGateway][order_total]" value=1.00> USD</td>
	</tr>
	<tr>
		<td align=right><br>Sub Total:</td>
		<td align=left><br><input type=text size=4 maxlength=7 name="data[PaymentGateway][sub_total]" value=1.00> USD</td>
	</tr>
	
	<tr>
		<td align=right><br> Total tax:</td>
		<td align=left><br><input type=text size=4 maxlength=7 name="data[PaymentGateway][total_tax]" value=1.00> USD</td>
	</tr>
	
	<tr>
		<td/>
		<td><input type=Submit value=Submit></td>
	</tr>
</table>
</form>












