<link type="text/css" href="css/simple_slideshow.css" rel="stylesheet" />
<script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
<script type="text/javascript" src="js/jquery.codeshare.js"></script>
<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
<script language="javascript">

 //$.noConflict();
 
	jQuery(document).ready(function (){
	
			jQuery("#slidelist").PikaChoose();
		});
</script>


<div class="simple_slide_show">
<h1>Jquery Simple Slideshow with no controls </h1>
	<ul id="slidelist" >
		<li><a target="_blank" href="http://www.codeshare.info/images/slideshow/1_1.jpg"><img  src="images/1_1.jpg"/></a><span>Enter title caption 1</span></li>
		<li><a href="http://www.codeshare.info/images/slideshow/2_2.jpg"><img src="images/2_2.jpg"/></a><span>Enter title caption 2</span></li>
		<li><a href="http://www.codeshare.info/images/slideshow/3_3.jpg"><img src="images/3_3.jpg"/></a><span>Enter title caption 3 <a href="http://www.codeshare.info">CodeShare.info</a></span></li>
		
	</ul>
	

	
</div>




