/*MESSAGE LOADING*/

.systems {
    margin:auto;
    padding:10px 23px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 1px 4px #ccc;
    -webkit-box-shadow:0 1px 2px #ccc;
    box-shadow:0 1px 2px #ccc;
    font-weight:bold;
    cursor:pointer;
    margin:0px 0 10px 0;
    text-shadow:1px 0 1px #333333;
}

.warning{background:url(../../img/icons/icon_warning.png) #FFC6BF 5px 10px no-repeat;color:#333; border:1px solid #edbf06;}
.info{background:url(../../img/icons/icon_info.png) #e6f5fd 5px 10px no-repeat;color:#333; border:1px solid #b2c8ff;}
.success{background:url(../../img/icons/icon_accept.png) #08A000 5px 10px no-repeat;color:#fff; border:1px solid #49816e;}
.fail{background:url(../../img/icons/icon_error.png) #fb1800 5px 10px no-repeat;color:#fff; border:1px solid #ff8e8e;}
.error, .error-message{color: red;}



div#loader{
    left: 0;
    z-index: 999;
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    display: none;
    padding: 0px;
    margin: 0px;
    height: 30px;

    filter: alpha(opacity=90);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity:0.9;
}
div#loader{
    top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
div > div#loader{
    position: fixed;
    top: 0px;
    vertical-align:middle;
}
div.success{ padding: 5px;background-color: #080a1a; color: #FFFFFF;}
div.failure, div.error{ padding: 5px;background-color: #080a1a; color: red; }
.loading{
    background: transparent url(../images/loading.gif) no-repeat scroll 50% -175px;
}