

*{
	padding:0px;
	margin:0px;
}
html,body {
 	
	background:url(../images/layouts/Header_Background.png) repeat-x center 0;	

}

* html, * html body { 
	height: 100%;
	text-align:center;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,blockquote,th,td, address{
	margin:0px;
   	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	color:#666666;
	text-align:left;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	text-decoration:none;
}

input,textarea {
	color:#000000;
}


#flashMessage
{
color:#FF0000;
font-weight:bold;
margin:5px;


}

.error
{

padding:2px; 
color:#FF0000;
font-size:14px;
}
.required
{

padding:2px; 
color:#FF0000;
font-size:14px;


}



/*table{border-collapse:collapse;border-spacing:0;empty-cells:show; width:100%;}*/


fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
em { font-style: italic }
strong { font-weight: bold }
iframe {margin:0px;}

h1,h2,h3,h4,h5,h6{font-weight:bold; margin-bottom:5px;}
h1{
	font-size:18px;
	line-height:30px;
	color:#669933;
	padding:0px 0px;
}
h2 {
	font-size:15px;
	line-height:20px;
	padding:0px 0px;
}
h3 {
	font-size:16px;
	line-height:18px;
}
h4 {
	font-size:14px;
	line-height:16px;
}
fieldset {
	border:1px solid #ffaf3d;
	padding:0px 0px 0px 5px;
	margin-bottom:10px;
	margin-right:5px;
}
fieldset legend {
	color:#FFAF3D;
	font-weight:bold;
	padding:0px 2px;
}


.clear{
	clear:both;
}
.clear20{
	clear:both;
	height:20px;
}
#container{
	width:970px;
	margin:auto;
	border:0PX solid RED;
}



/******************** Header CSS ************************/
#header
{
padding:20px 0px 0px 0px;
border:0px solid red;
height:120px;

}

#top_header
{
 float:left;
 width:70%;
 height:60px;
}

#top_header .title
{
color:#FF0000;
font-weight:bold;
font-size:24px; 
}
#top_header .slogan
{
padding:5px 0px 0px 5px;
color:#669966;
font-weight:bold;
font-size:16px;
font-style:italic; 
}



#smartHeaderRight
{
 float:left;
 width:30%;
 height:60px;
}


#head_site_name
{
float:left;
border:0px solid red;
width:200px;
height:100px;


}

#header_ads
{
float:left;
border:0px solid red;
width:330px;
height:100px;

}

/*************** END Header CSS *************************/


#mainContentArea
{
margin:10px 0px 0px 0px;


}


#left-content
{
border:1px solid #FFFFFF;
float:left;
width:70%;
border:0px solid red;
}

#right-sidebar
{
float:left;
width:25%;
border:0px solid red;
padding:10px;
border:0px solid red;
}

#right-sidebar .module .head
{
  width:100%;
  height:18px;
  background-color:#F3F3F3;
  font-size:16px;
  padding:5px;
  font-weight:bold;
  

}

#right-sidebar .module .content
{
  width:100%;  
  
  font-size:12px;
  padding:5px;
  font-weight:bold;
  margin:0px 0px 20px 0px;

}

#right-sidebar .module .content a
{
 color:#0066CC;
 text-decoration:none;
}


#right-sidebar .module .content a:hover
{
 color:#0066CC;
 text-decoration:underline;
}

.dividelink
{
margin:7px 0px 0px 0px;


}







.blog_title
{
clear:both;
font-size:16px;
font-weight:bold;
color:#000000;


}

.blog_title a
{
  font-size:24px;
 color:#000000;
 text-decoration:none;

}

.blog_title a:hover
{
 color:#0066CC;
 text-decoration:underline;
}



.blog_title hr
{
 margin-top:10px;

}

.blog_details
{
clear:both;
margin-top:2px;
font-size:14px;
background-color:#FFFFFF;
padding:5px 0px 20px 20px;
}


.blog_details .view_more a
{
text-decoration:none;
padding:0px 0px 20px 0px;
font-weight:bold;
color:#006633;
}
.blog_details .view_more a:hover
{
text-decoration:none;
padding:0px 0px 20px 0px;
font-weight:bold;
color:#FF0000;
text-decoration:underline;
}


#post_comments_form
{
margin-top:10px;
padding-bottom:30px;




}


#post_comments_form input[type="text"]
{
 width:230px;
 height:25px;
 border:1px solid #666666;
 font-size:14px;
 color:#000000;
 font-weight:bold;
}

#post_comments_form input[type="submit"]
{
 width:200px;
 font-size:16px;
 font-weight:bold;
 color:#000000;
 margin-top:10px;
}



.comment_title
{
font-size:14px;
font-weight:bold;


}

.post_comment_user_info
{
margin-top:2px;
clear:both;
float:right;
font-size:14px;



}

.comment_bar
{
border:1px solid #CCCCCC;
color:#0033CC;

}

.comment_left
{
float:left;
width:20%;
padding:0px 10px 0px 0px;
}


.comment_right
{
float:left;
width:70%;
}


.comment_user_name
{
font-size:16px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#006633;
font-weight:bold;


}
.comment_date
{
float:right;
font-size:12px;
color:#666666;
clear:both;

}

.user_comments
{
clear:both;
padding:3px;
font-size:14px;


}





#footer
{
padding:10px;
text-align:center;
font-size:14px;
clear:both;
height:50px; 
background-color:#CCCCCC;
}

#footer a
{
padding-left:10px;
color:#003333;
font-size:16px;
}

#footer a:link
{
color:#003333;
font-size:16px;
}
#footer a:visited
{
color:#003333;
font-size:16px;

}

.design_by
{
padding:5px 0px 0px 0px;
font-size:14px;
color:#000000;
text-align:center;
font-weight:bold;


}


/********************* code Highliter css *********************/

.codehightlight
{
margin:20px;
padding:10px;
width:90%;
background-color:#F7F7F7;
font-size:14px;
color:#000000;
min-height:100px;
height:100%;
}

.codestep
{
color:#660000;
font-weight:bold;
font-size:18px;
width:98%;
height:23px;
padding-top:3px;
border-left: 5px solid #FF0000;
border-right: 5px solid #FF0000;

float:left;

background-color:#DAD7E1;
}


h5
{
color:#000000;
font-weight:bold;
background-color:#CCCCCC;
min-width:700px;
min-height:40px;


}





#paginator_control li
{
float:left;
list-style:none;
padding-left:2px;
padding-right:2px;
color:#660000;
font-weight:bold;
font-size:16px;
margin:10px;

}

#paginator_control li a
{
color:#003366;

}


.comment_submit_button
{
color:#000000;
font-weight:bold;
font-size:14px;


}


.success
{
color:#336633;
font-weight:bold;
padding:10px;
}



#download_sourcecode
{
font-weight:bold;
font-size:24px;
text-decoration:underline;


}

/*********** Download Tools page *******/
#report { border-collapse:collapse; width:100%;}
#report h4 { margin:0px; padding:0px;}
#report img { float:right;}
#report ul { margin:10px 0 10px 40px; padding:0px;}
#report th { background:#7CB8E2 url(../img/header_bkg.png) repeat-x scroll center left; color:#fff; padding:7px 15px; text-align:left;}
#report td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }
#report tr.odd td { background:#fff url(../img/row_bkg.png) repeat-x scroll center left; cursor:pointer; }
#report div.arrow { background:transparent url(../img/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
#report div.up { background-position:0px 0px;}

/******* End download toos page css ***/

