<?php
echo $javascript->link('fckeditor');
?>



<div class="row" style='float:right;'>
	<div class="inputs">

	<span class="button blue_button"><span><span><em><a style="float:right;" href="posts/">Post Lists </a></em></span></span></span>
		
	</div>		
</div>	

<div style="clear:both;"> </div>							
	<div class="table_wrapper">
								<div class="table_wrapper_inner">
								
									<?php echo $this->Form->create('Post', array('type' => 'file')); ?>
	
			<table cellpadding="0" cellspacing="0" width="100%">
			
			<tr>
			<td style="width:100px;"> Title </td>
			
			<td>
			
			
			<?php echo $form->input('title', array('label' => false, 'size'=>'80px;','div' => false)); ?>
			
			</td>
			
			</tr>
			
			<tr>
			
			<td style="vertical-align:text-top"> Description </td>
			
			<td>
			
			<?php echo $form->input('details', array('label' => false,  'style'=>'width:400px; height:200px;', 'div' => false));
				   echo $fck->load('Post/details'); 
			
			
			 ?>
			
			</td>
			
			</tr>
			
			<tr>
			
			<td> Select Category </td>
			
			<td>
			
			<?php echo $form->input('category_id', array('label' => false, 'options'=>$categories,'div' => false)); ?>
			</td>
			</tr>
			
			<tr>
			
			<td> Published </td>
			
			<td>
			
			
			<?php echo $form->input('status', array('label' => false,'type'=>'checkbox', 'div' => false)); ?>
			
			
			</td>
			</tr>
			
			<tr>
			
			<td>  </td>
			
			<td>
			
			
			<?php echo $form->submit('Save'); ?>
			
			</td>
			
			
			</tr>
			</table>

<?php echo $form->end(); ?>


</div>
</div>