<?php
echo $javascript->link('fckeditor');
?>



<div class="row" style='float:right;'>
	<div class="inputs">

	<span class="button blue_button"><span><span><em><a style="float:right;" href="posts/">Post Lists </a></em></span></span></span>
		
	</div>		
</div>	

<div style="clear:both;"> </div>							
	<div class="table_wrapper">
								<div class="table_wrapper_inner">
								
									<?php echo $this->Form->create('PostComment', array('type' => 'file')); ?>
	
	<?php echo $form->input('id', array('label' => false, 'type'=>'hidden','div' => false)); ?>
	
	
			<table cellpadding="0" cellspacing="0" width="100%">
			
			
			
			<tr>
			
			<td style="vertical-align:text-top"> Comments </td>
			
			<td>
			
			<?php echo $form->input('comments', array('label' => false,  'style'=>'width:400px; height:200px;', 'div' => false));
			
			     echo $fck->load('PostComment/comments'); 
				 
		   ?>
			
			</td>
			
			</tr>
			
			<tr>
			
			<td> User </td>
			
			<td>
			
			<?php echo $form->input('users', array('label' => false,'div' => false)); ?>
			</td>
			</tr>
			
			
			
			<tr>			
			<td> Email </td>
			
			<td>
			
			<?php echo $form->input('email', array('label' => false,'div' => false)); ?>
			</td>
			</tr>
			
			
			<tr>			
			<td> website_url </td>
			
			<td>
			
			<?php echo $form->input('website_url', array('label' => false,'div' => false)); ?>
			</td>
			</tr>
			
			<tr>
			
			<td> Published </td>
			
			<td>
			
			
			<?php echo $form->input('status', array('label' => false,'type'=>'checkbox', 'div' => false)); ?>
			
			
			</td>
			</tr>
			
			<tr>
			
			<td>  </td>
			
			<td>
			
			
			<?php echo $form->submit('Update'); ?>
			
			</td>
			
			
			</tr>
			</table>

<?php echo $form->end(); ?>


</div>
</div>