<div id="logo"><a class="button" href="<?php echo $this->webroot; ?>">AFC My Health</a></div>
<div id="links">
    <a href="<?php echo $this->webroot; ?>admin/users/logout" class="logout">Log Out</a>
    <a href="<?php echo $this->webroot; ?>admin/dashboard" class="home">Home</a>
</div>