<div id="footer">
	<p><b> <a href="<?php echo $this->webroot; ?>pages/privacy_policy">Privacy Policy</a> | <a href="<?php echo $this->webroot; ?>pages/terms_condition">Terms & Conditions </a></b><span style="color:#486ba2; padding:0px 12px;">
	<a href="#" >@ Copyright 2011.Innovative Intelligence All rights reserved.</a></span></p>
</div>