			
				<div class="module">			
					
					<div class="head">
						Recent post 
					</div>					
					<div class="content">
					
					 <?php
					
					 	$recent_post_lists = $this->requestAction('posts/get_recent_posts');
						foreach($recent_post_lists as $data)
						{
							$id = $data['Post']['id'];
							$title = $data['Post']['title'];
							
						    echo $this->Html->link($title,array('controller'=>'posts','action'=>'details',$title));
						    echo "<div class='dividelink'> </div>";
						
						}
						
					 
					 ?>
					
					</div>					
				</div>	
				
				
				<div class="module">			
					
					<div class="head">
						Related Tags
					</div>					
					<div class="content">
						 <?php
					
					 	$catgory_lists = $this->requestAction('posts/get_category_list');
						foreach($catgory_lists as $data)
						{
							$id = $data['Category']['id'];
							$name = $data['Category']['name'];
							
						    echo $this->Html->link($name,array('controller'=>'posts','action'=>'index',strtolower($name)));
						    echo "&nbsp; &nbsp; , ";
						
						}
						
					 
					 ?>
					
					</div>					
				</div>		
				
				
				<div class="module">			
					
					<div class="head">
						About Us
					</div>					
					<div class="content">
					<img border="0" src="<?php echo $this->webroot.'img/profile/arifhossen.jpg'; ?>" />
						I am Mohammad Arif Hossen, Founder of codeshare.info , Currently working at Grameen Solutions as Senior Software Engineer.
						
					</div>					
				</div>	
				
				
				<div class="module">		
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-6800487119330644";
					/* ad1 */
					google_ad_slot = "4768275883";
					google_ad_width = 120;
					google_ad_height = 240;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				
					
		               </div>				
				
					