<ul class="dropdown">
        	<li class="mainmenu"><?php echo $this->Html->link('HOME',array('controller'=>'posts','action'=>'index')); ?></li>
        	<li class="mainmenu"><a href="#">Tutorials</a>
        		<ul class="sub_menu">
				<?php 
				
				      $category_lists = $this->requestAction('categories/getCategoryList');		 
						
				      foreach($category_lists as $data)
					  {
					  
					  	$id = $data['Category']['id'];
						$name = $data['Category']['name'];
						
						echo "<li>";
						echo $this->Html->link($name,array('controller'=>'posts','action'=>'index',strtolower($name)));
					    echo "</li>";
					  }
				
				 ?>
				
        		</ul>
        	</li>
        	<li class="mainmenu"><?php echo $this->Html->link('About Us',array('controller'=>'contents','action'=>'index','aboutus')); ?>
        		
        	</li>
        	<li class="mainmenu"><a href="<?php echo $this->webroot.'contents/jquery'; ?>">Jquery Gallery</a>
        		
        	</li>
        	
			<li class="mainmenu"><a href="<?php echo $this->webroot.'tools/index'; ?>">Development Tools</a>
        		
        		
        	</li>
		
			
			<li class="mainmenu"><a href="#">Cakephp</a>
			
			  	<ul class="sub_menu">
				
					<li>
						<?php echo $this->Html->link('File Upload Component',array('controller'=>'posts','action'=>'index',strtolower($name))); ?>
					</li>
					
					<li>File Upload Component </li>
					<li>Image Resize Component </li>
					<li>Watermark Image Create Component</li>
				
				
				</ul>
        		
        	</li>
			
				
			<li class="mainmenu"><a href="<?php echo $this->webroot.'contents/index/contactus'; ?>">Contact us</a>
        		
        	</li>
        </ul>

