<div id='conformOrderContainer'>
		
		
		<img src="<?php echo $this->webroot.'images/packages/order_confirmation.png'; ?>" width="896" />
		
			
			
			<div style="clear:both;"> </div>
			<br /><br />
			
			<div id="orderBilledTo">
			
				<p style="font-weight:bold; font-size:14px;">Billed To:</p>
				<p class="usernamecolor"> <?php if(!empty($member_info_data)){ echo $member_info_data['UserAgentInformation']['email']; } ?></p>
				<p> <?php if(!empty($member_info_data)){ echo $member_info_data['UserAgentInformation']['first_name'].' '.$member_info_data['UserAgentInformation']['last_name']; } ?>  </p>
				<p> <?php echo $member_info_data['UserOrderInformation'][0]['billing_address'];  ?></p>
						
			
			</div>
			
			<div id="orderNumber">
			
				
				<table>
				<tr>
				<td>
				<p style="font-weight:bold; font-size:14px;">Order Number :</p>
				</td>
				<td> <?php echo $member_info_data['UserOrderInformation'][0]['id']; ?></td>
					</tr>
				<tr>
				<td>
				<p style="font-weight:bold; font-size:14px;">Recipt Date:</p>
				</td>
				<td> <?php echo $member_info_data['User']['signup_date']; ?></td>
				</tr>
				
				<tr>
				<td> 
				<p style="font-weight:bold; font-size:14px;">Order Total :</p>
				</td>
				<td> <?php echo $member_info_data['UserOrderInformation'][0]['amount']; ?></td>
				</tr>
				<tr>
				<td> 
				<p style="font-weight:bold; font-size:14px;">Billed To</p>
				</td>
				</tr>
				
				</table>
			
					
			
			</div>
			
			<div style="clear:both;"> </div>
			<br /><br />
			
			<div style="margin-left:40px;font-size:14px;">		
		
		
			
			<table width="95%" style="font-size:14px;">
			
				<tr>
					<td class="tableHeader"> Description</td> <td class="tableHeader" style="text-align:right;">Qty </td> <td class="tableHeader" style="text-align:right;">Unit Price </td> <td class="tableHeader" style="text-align:right;">Total Price </td>				
				</tr>
				
				<tr>
					<td colspan="4"> </td>
				</tr>
				
				<tr>
					<td style="width:400px;"> <?php echo $packages['Package']['name']; ?> (<?php echo $terms['Term']['month_name']; ?>)</td> <td style="text-align:right;"><?php echo $terms['Term']['month']; ?> </td> <td style="text-align:right;">$<?php echo $packageSetups['PackageSetup']['new_monthly_price']; ?></td> <td style="text-align:right;">$<?php echo $terms['Term']['month']*$packageSetups['PackageSetup']['new_monthly_price']; ?> </td>				
				</tr>
				
				<tr>
					<td> One Time Setup Fee</td> <td style="text-align:right;">1 </td> <td style="text-align:right;">$<?php echo $packageSetups['PackageSetup']['discounted_setup_fee']; ?></td> <td style="text-align:right;">$<?php echo $packageSetups['PackageSetup']['discounted_setup_fee']; ?></td>				
				</tr>
				
				<tr>
					<td style="color:red; font-weight:bold;"> 1 Month Fee</td> <td> </td> <td> </td> <td style="color:red; font-weight:bold; text-align:right;"> <?php echo "-$".$packageSetups['PackageSetup']['new_monthly_price']; ?> </td>				
				</tr>
				
			
				<tr>
					<td colspan="4"> </td>
				</tr>
				
				<tr>
					<td colspan="4"> <hr style="width:830px;" /> </td>				
				</tr>
				
				<tr>
					<td> Sub Total</td> <td> </td> <td></td> <td style="text-align:right;">$<?php echo $packageSetups['PackageSetup']['pay_in_full']; ?> </td>				
				</tr>
				
				<tr>
					<td> TAX </td> <td> </td> <td></td> <td style="text-align:right;">$<?php echo $tax; ?> </td>				
				</tr>
				
				<tr>
					<td colspan="4"> <hr style="width:830px;" /> </td>				
				</tr>
				
				<tr>
					<td>  </td> <td> </td> <td></td> <td> </td>				
				</tr>
				
				<tr>
					<td>Order Total  </td> <td> </td> <td></td> <td style="text-align:right;">$<?php echo $total_payment;?></td>				
				</tr>
				<tr>
					<td height="25px">  </td> <td> </td> <td></td> <td> </td>				
				</tr>
				
				
				<tr>
					<td colspan="4"> <hr style="width:830px;" /> </td>				
				</tr>		
			
			</table>
			
			<br /><br /><br />
			
			
			<p style="font-weight:bold; font-size:14px;"> Please retain for your records. </p>
			
			Please See Below For Terms and Conditions Pertaining To This Order
			<br />
			<br />
			
			<a href="#"> Terms and Conditions </a>
			
			<br />
			<br />
			
			Smartactic.com is a Solution Engg Company. Please be advised that your subscription start date will begin on the day Apple and/or Google has approved Application.
			
			<br />
			<br />
			One-time Setup Fee is non-refundable 
			
			
			
			
			
			</div>
			
				
			
			<div style="clear:both;"> </div>
			<br />
				<table width='98%'>
				<tr>
					<td style='width:25%; text-align:left; padding-left:20px;'></td> 			
					<td style='width:50%; text-align:left; padding-left:20px;'> </td> 		
					<td style='width:100%;'  align="right";>
					
							
				<div id="btnSignUpgrade"><p>&nbsp;&nbsp;Print</p></div>
					
					</td>
				</tr>
			</table>
			
		
		
		</div>