
<table>

	<tr> <th>Sl.</th><th>First Name </th> <th> Last Name </th> <th>Email </th></tr>



<?php




	foreach($userLists as $key=>$value)
	{		
		
		$id = $value['User']['id'];
		$first_name = $value['User']['first_name'];
		$last_name = $value['User']['last_name'];
		$email = $value['User']['email'];
		
		
		echo "<tr>";
			echo "<td>".$id."</td>";
			echo "<td>".$first_name."</td>";
			echo "<td>".$last_name."</td>";
			echo "<td>".$email."</td>";
		echo "</tr>";	
		
		
			
	}
	


?>


</table>


