<div id="login-container">
<?php echo $this->Form->create('User', array('action' => 'mdarifhossen')); ?>
	
	
	
	<div style="padding-left:300px; padding-top:50px;">
		<h5>Administrator Login</h5>
		
		<p><span>
		<?php If ($this->Session->check('Message.flash'))
		echo $this->Session->flash();
		?></span>
		</p>
		<span><b>User Name</b> <sub style="color:#FF0000;">*</sub></span><br />
		<?php echo $this->Form->input('username', array('div' => false, 'label' => false, 'class' => 'login-inpu-email')); ?><br />
		<span><b>Password</b> <sub style="color:#FF0000;">*</sub></span><br />
		<?php echo $this->Form->password('password', array('div' => false, 'label' => false, 'class' => 'login-inpu-email')); ?>
		
		
		<div class="element">
        <div class="title">&nbsp;</div>
        <div class="value">
            <input type="checkbox" name="data[User][remember_me]" value="1" <?php if (isset($checked))
        echo 'checked="checked"'; ?> /> <span class="label_text">Remember Me</span>
        </div>
    </div>
		
		<div class="forgot-password-box">
			<span class="forgot-password">
			  <a class="link" href="<?php echo $this->webroot; ?>users/forgot_password">Forgot password?</a>
			
			</span>			
			<?php echo $form->submit('login_btn.jpg', array('div'=>false,'class'=>'login-btn')); ?>
			<div class="clear"></div>
		</div>
	</div>
<div class="clear"></div>	
</div>
  


  