 <?php
 

    echo $form->create('User',array('controller'=>'users','action'=>'useradd','class'=>'myform')); 
  
  
 
    echo $form->input('first_name',array('value'=>$p,'label'=>'First Name','size'=>'60','style'=>"border:1px solid green;",'class'=>'login-inpu-email')); 
	
	
	echo "<br>";
 
 
    echo $form->input('last_name',array('value'=>$abc,'label'=>'Last Name','div'=>false,'class'=>'login-inpu-email'));
	
	echo "<br>";
	
	
	echo $form->input('last_name',array('type'=>'password','value'=>'','label'=>'Password','div'=>false,'class'=>'login-inpu-email'));
	
	echo "<br>";
	
	
	echo $form->input('username',array('label'=>'User Name','div'=>false));	
	
	
	echo "<br>";
		
		
 	echo $form->input('email',array('label'=>'Email','div'=>false,'class'=>'login-inpu-email'));
	
	echo "<br>";
	
	
	
	echo $form->submit('submit.jpg', array('div'=>false,'class'=>'submit-btn-box'));
	
	
?>		






