<div id="login-container">
<?php echo $this->Form->create('User', array('action' => 'login')); ?>
	
	<div class="login-content-left">
		<h5 style="color:#005b9a;">NEW CUSTOMERS</h5>
		<p>
		<span>
		Thanks for your registration with shoiloana.com.Please check your mail to activate your user account in sholoana.com
		</span>
		</p>
		
	</div>
	<div class="login-content-right">
		<h5>REGISTERED CUSTOMERS</h5>
		<p><span>If you have an account with us, please log in.</span></p>
		<p><span>
		<?php If ($this->Session->check('Message.flash'))
		echo $this->Session->flash();
		?></span>
		</p>
		<span><b>User Name</b> <sub style="color:#FF0000;">*</sub></span><br />
		<?php echo $this->Form->input('username', array('div' => false, 'label' => false, 'class' => 'login-inpu-email')); ?><br />
		<span><b>Password</b> <sub style="color:#FF0000;">*</sub></span><br />
		<?php echo $this->Form->password('password', array('div' => false, 'label' => false, 'class' => 'login-inpu-email')); ?>
		
		
		<div class="element">
        <div class="title">&nbsp;</div>
        <div class="value">
            <input type="checkbox" name="data[User][remember_me]" value="1" <?php if (isset($checked))
        echo 'checked="checked"'; ?> /> <span class="label_text">Remember Me</span>
        </div>
    </div>
		
		<div class="forgot-password-box">
			<span class="forgot-password"><a href="#" style="color:#005b9a;"><b>Forgot password?</b></a></span>			
			<?php echo $form->submit('login_btn.jpg', array('div'=>false,'class'=>'login-btn')); ?>
			<div class="clear"></div>
		</div>
	</div>
<div class="clear"></div>	
</div>
  


  

