
<script type="text/javascript">
jQuery(function(){
		jQuery("#username").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		
		jQuery("#password").validate({
				expression: "if (VAL.length > 5 && VAL) return true; else return false;",
				message: " "
		 });		 
		
	   
		jQuery('#create_an_account').validate(function(){
		});
		
		
		
   jQuery('.login-btn').bind('mouseover', signin_mouseover)
   jQuery('.login-btn').bind('mouseout',  signin_mouseout)	
	
	function signin_mouseover()
	{  		
	
			jQuery('.login-btn').attr("src","<?php echo $this->webroot; ?>img/signin_mouseover.png");		
	}	

	function signin_mouseout()
	{ 	
		 jQuery('.login-btn').attr("src","<?php echo $this->webroot; ?>img/signin.png");	
		 
		
	}
	
	
   jQuery('.signup_button').bind('mouseover', signup_mouseover)
   jQuery('.signup_button').bind('mouseout',  signup_mouseout)	
	
	function signup_mouseover()
	{  		
	
			jQuery('.signup_button').attr("src","<?php echo $this->webroot; ?>img/signup_mouseover.png");		
	}	

	function signup_mouseout()
	{ 	
		 jQuery('.signup_button').attr("src","<?php echo $this->webroot; ?>img/signup.png");	
		 
		
	}
		
		
		
			
	});
	
</script>	

<div style="margin-top:80px; margin-left:100px;">
<div style="float:left;">

	<img src="<?php echo $this->webroot.'images/packages/package_not_signup.png';?>" />
	<br /><br />
	<a href="<?php echo $this->webroot.'packages'; ?>">
	<img class='signup_button' style="margin-left:100px; margin-top:14px;" src="<?php echo $this->webroot.'img/signup.png';?>" />
	</a>


</div>

<div style="float:left;">

	<img src="<?php echo $this->webroot.'images/packages/shadow_vertical.png';?>" />
</div>

<div style="float:left; padding-left:30px; padding-top:20px;">
<?php echo $this->Form->create('User', array('action' => 'login','id'=>'create_an_account')); ?>

	<h1 style="text-align:center; color:#000000; font-size:22px;"> Member </h1>
	
	<img src="<?php echo $this->webroot.'images/packages/enter_here.png';?>" />
	<br /><br>
	<p><span>
		<?php If ($this->Session->check('Message.flash'))
		echo $this->Session->flash();
		?></span>
	</p>
	<div style="padding-left:30px; font-size:18px;">
	Username<span style="color:#FF0000;">*</span>
	<p style="line-height:20px; padding-top:7px;">
	<input type="text" name="data[User][username]" id="username" />
	
	</p>
	
	<p style="line-height:20px;">
	Password<span style="color:#FF0000;">*</span>
	</p>
	
	<p style="line-height:20px; padding-top:7px;">
	<input type="password" name="data[User][password]" id="password" />
	
	</p>

	
	<br />
	<input type="checkbox" name="data[User][remember_me]" /> Remember me
	
    <p style="padding-left:45px;">
		<br /><br />
		
	<?php echo $form->submit('signin.png', array('div'=>false,'class'=>'login-btn')); ?>
	<br />
	
	
	</p>
	
	<p style="padding-left:55px;">
	  <a class="link" href="#">Forgot password?</a>
	</p>
	
	
	
	
	
	</div>


</div>

</div>
<div style="height:50px; clear:both;"> </div>