
<script type="text/javascript">
jQuery(function(){
		jQuery("#username").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		
		jQuery("#password").validate({
				expression: "if (VAL.length > 5 && VAL) return true; else return false;",
				message: " "
		 });		 
		
	   
		jQuery('#create_an_account').validate(function(){
		});	
	});
	
</script>	

<div style="margin-top:80px; margin-left:250px;">

<div style="float:left; padding-left:30px; padding-top:20px;">
<?php echo $this->Form->create('User', array('action' => 'upgrade_login','id'=>'create_an_account')); ?>

	<h1 style="text-align:center; color:#000000; font-size:22px;"> Member Only</h1>
	
	<img src="<?php echo $this->webroot.'images/packages/enter_here_upgrade.png';?>" />
	<br /><br>
	<p><span>
		<?php If ($this->Session->check('Message.flash'))
		echo $this->Session->flash();
		?></span>
	</p>
	<div style="padding-left:80px; font-size:18px;">
	Username<span style="color:#FF0000;">*</span>
	<p style="line-height:20px; padding-top:7px;">
	<input type="text" name="data[User][username]" id="username" />
	
	</p>
	
	<p style="line-height:20px;">
	Password<span style="color:#FF0000;">*</span>
	</p>
	
	<p style="line-height:20px; padding-top:7px;">
	<input type="password" name="data[User][password]" id="password" />
	
	</p>

	
	<br />
	<input type="checkbox" name="data[User][remember_me]" /> Remember me
	
<p style="padding-left:20px;">
		<br /><br />
	<?php echo $form->submit('signin.png', array('div'=>false,'class'=>'login-btn')); ?>
	<br />
	
	
	  <a class="link" style="color:#0066CC; padding-left:25px; font-size:12px;" href="#">Forgot password?</a>
	</p>
	
	
	
	
	
	</div>


</div>

</div>
<div style="height:100px; clear:both;"> </div>