<div class="content-right-banner">

<div class="slider-wrapper theme-default">
	<div class="ribbon"></div>
		<div id="slider" class="nivoSlider">

<?php 
	foreach($banners as $key => $banner){
		$imagepath = $banner['Banner']['image_name'];
		echo $showbanner = '<img src="'.$this->webroot.'timthumb.php?src='.$imagepath.'&w=683&h=182&zc=1" alt="Banner Image" />';	
		}
 ?>
	 	</div>
	</div>
</div>
<div class="content-right-banner">
	<div class="content-right-banner-left-text"; style="float:left; width:437px;">
		<p>
		<?php 
		if(!empty($homepagemiddletext)){
			foreach($homepagemiddletext as $key => $value){
					$description = $value['Banner']['description'];
					echo $text->truncate(strip_tags($description),550);						
				}								
			}
		?>		
		</p>
	</div>
	<div style="width:100px; height:50px; float:left;">
	<?php 
		if(!empty($homepagemiddleadd)){
			foreach($homepagemiddleadd as $key => $value){
					$imagepath_add3 = $value['Banner']['image_name'];
				echo $showadd3 = '<img src="'.$this->webroot.'timthumb.php?src='.$imagepath_add3.'&w=208&h=175&zc=1" alt="Banner Image" />';	
				}								
			}else{
				$imagepath_add3 = "img/no_image.jpg";
				echo $showadd1 = '<img src="'.$this->webroot.'timthumb.php?src='.$imagepath_add3.'&w=208&h=175&zc=1" alt="Banner Image" />';	
			}
		?>
	</div>
	<div class="clear"></div>
</div>