	<script>
	$(document).ready(function () 
	{
		$("#grid").wijgrid({
		allowSorting: true,
		allowPaging: true,
		pageSize:10,
		});

	});

	</script>

	<div style="padding-left:10px; width:750px;">
	<h1>Manage News </h1>
	<p align='right'> <a style='font-size:16px; color:green;' href="<?php echo $this->webroot; ?>admin/news/add/">Add new</a> </p>
		<table id="grid" width="100%">
			<thead>
				<tr>
					<th width="1%">
					SL No.
					</th>
					
					<th width="70%">
					Image
					</th>
					
					<th width="70%">
					Title
					</th>
					
					<th width="70%">
					Description
					</th>
					
					<th width="20%">
					Action 
					</th>
				</tr>
			</thead>

			<tbody>
				<?php 
				
				if(!empty($newsLists))
				{
			
				$serial_no = 1;
				foreach($newsLists as $news)
				   { ?>
					<tr>
						<th>
							<?php echo $serial_no++ ; ?>
						</th>
						
						<td>
						<?php 
							
							$file = $this->webroot.$news['News']['image'];
						
						?>
						
						<img src="<?php echo $this->webroot.$news['News']['image']; ?>"  />
						
						</td>
						
						<td><?php  echo $news['News']['title'];  ?></td>
						
						<td> <?php echo $news['News']['description']; ?></td>
						       
						        
								<td>
								
								 
<?php echo $this->Html->link(__('Edit', true), array('action' => 'edit', $news['News']['id'])); ?> | 
<?php echo $this->Html->link(__('Delete', true), array('action' => 'delete', $news['News']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $news['News']['id'])); ?>


            </td>
								
								
									
					</tr>

				<?php 
				  }//EO FOR EACH
				}//EO NOT EMPTY ?>
			</tbody>
		</table>
	</div>


















