<div class="section">
					
					<!--[if !IE]>start title wrapper<![endif]-->
					<div class="title_wrapper">
						<span class="title_wrapper_top"></span>
						<div class="title_wrapper_inner">
							<span class="title_wrapper_middle"></span>
							<div class="title_wrapper_content">
								<h2>Template Manager </h2>
							</div>
						</div>
						<span class="title_wrapper_bottom"></span>
					</div>
					<!--[if !IE]>end title wrapper<![endif]-->
					
	<?php echo $this->Form->create("Setting",array('enctype'=>"multipart/form-data"));?>
						
					<!--[if !IE]>start section content<![endif]-->
					<div class="section_content">
						<span class="section_content_top"></span>
						
						<div class="section_content_inner">
							
							<div class="table_tabs_menu">
							<!--[if !IE]>start  tabs<![endif]-->
					
							<!--[if !IE]>end  tabs<![endif]-->
							
							<div class="row" style='float:right;'>
								<div class="inputs">

								<span class="button blue_button"><span><span><em>Set Default</em></span></span><input name="" type="submit" /></span>
									
								</div>		
							</div>	
							
							</div>
						
							<!--[if !IE]>start table_wrapper<![endif]-->
							<div class="table_wrapper">
								<div class="table_wrapper_inner">
								<table cellpadding="0" cellspacing="0" width="100%">
									<tbody><tr>
										<th style="width: 5px;">No.</th>
										<th style="width: 5px;"></th>
										<th style="width: 120px;"><a href="#" class="asc">Template Name</a></th>
										<th style="width: 100px;">Default</th>
										
										
										
									</tr>
									
									
								<?php
                                   if(isset($templates))
 {								   
									$serial = 1;
                                    foreach ($templates AS $data) 
									{

										$id = $data['Template']['id'];
										$status = $data['Template']['status'];
										
										if($serial %2 == 1)
										{
											$alter_row = 'first';
										}
										else
										{
										
											$alter_row = 'second';
										
										}
										
										if($status == 1)
										{
											$checked = 'checked=checked';
										}
										else
										{
										
										 $checked = '';
										}
										

									?>								
									
									<tr class="<?php echo $alter_row; ?>">
										<td style='width:10px;'><?php echo $serial; ?></td>
										<td style='width:10px;'>
										 <input <?php echo $checked; ?> type='radio' name='data[Template][id]' value='<?php echo $id; ?>'>
										
										</td>
										<td><a href="#"><?php	echo $data['Template']['name'];  ?></a></td>
										<td><?php	
										
											if($data['Template']['status'] == 1)
											{
											   $wbroot = $this->webroot.'images/admin_panel/approved.gif';
												echo "<img src=$wbroot>";
											
											}
											?>
										</td>																				
										
									</tr>
									
									<?php
									$serial++;
									 
}
									 }
									?>
									
									
								</tbody></table>
								</div>
							</div>
							<!--[if !IE]>end table_wrapper<![endif]-->
							
						<br>
											
							
						</div>
						
							
						
						
						<span class="section_content_bottom"></span>
					</div>
					<!--[if !IE]>end section content<![endif]-->
					
					</form>
					
				</div>
				<!--[if !IE]>end section<![endif]-->









