<table width="800" border="0" cellspacing="0" cellpadding="0">
  <tr>
	<td>
		<div class="box">
			<?php  echo $this->Html->image('users.png', array('alt'=>'users','height'=>'48', 'title'=>'System User')); ?>
		
			<div class="link"><?php echo $this->Html->link('System User', array('controller'=>'users', 'action'=>'index'),array('escape' => false));?></div>
			<div class="link"><?php echo $this->Html->link('Change Password', array('controller'=>'users', 'action'=>'changepassword'),array('escape' => false));?></div>
		</div>
	</td>
	<td>
		<div class="box">
			<?php  echo $this->Html->image('trainer.png', array('alt'=>'trainer','height'=>'48', 'title'=>'Manage Article')); ?>
			
			<div class="link"><?php echo $this->Html->link('Article Pages', array('controller'=>'contents', 'action'=>'index'),array('escape' => false));?></div>
		</div>
	</td>
	<td>
		<div class="box">
			<?php  echo $this->Html->image('home.png', array('alt'=>'institute','height'=>'48', 'title'=>'HOME')); ?>
			
				<div class="link"><?php echo $this->Html->link('Home page ', array('controller'=>'supported_platforms', 'action'=>'index'),array('escape' => false));?></div>
		</div>
	</td>
	<td>
		<div class="box">
			<?php  echo $this->Html->image('notebook.png', array('alt'=>'notebook','height'=>'48', 'title'=>'Package Details')); ?>
			
			<div class="link">
			<?php echo $this->Html->link('Package Details', array('controller'=>'packages', 'action'=>'index'),array('escape' => false));?>
			
			</div>
			
			
			
		</div>
   </td>
  </tr>
  <tr>
	<td>
		<div class="box">
			<?php  echo $this->Html->image('home.png', array('alt'=>'institute','height'=>'48', 'title'=>'Manage Package Setup')); ?>
			
			<div class="link"><?php echo $this->Html->link('Manage Pricing', array('controller'=>'package_setups', 'action'=>'index'),array('escape' => false));?></div>
		</div>
	</td>
	<td>
		<div class="box">
			<?php  echo $this->Html->image('home.png', array('alt'=>'institute','height'=>'48', 'title'=>'App Design')); ?>
			
			<div class="link"><?php echo $this->Html->link('App Design', array('controller'=>'designCodes', 'action'=>'index',1),array('escape' => false));?></div>
		</div>
	</td>
	<td>
		<div class="box">
			<?php  echo $this->Html->image('home.png', array('alt'=>'institute','height'=>'48', 'title'=>'Manage Mobile Design')); ?>
			
			<div class="link"><?php echo $this->Html->link('Mobile Design', array('controller'=>'designCodes', 'action'=>'index',2),array('escape' => false));?></div>
		</div>
	</td>
	<td>
		<div class="box">
			<?php  echo $this->Html->image('home.png', array('alt'=>'institute','height'=>'48', 'title'=>'Manage Web Design')); ?>
		
			<div class="link"><?php echo $this->Html->link('Web Design', array('controller'=>'designCodes', 'action'=>'index',3),array('escape' => false));?></div>
		</div>
	</td>
  </tr>
  <tr>
	<td>
		<div class="box">
			<?php  echo $this->Html->image('home.png', array('alt'=>'institute','height'=>'48', 'title'=>'Manage Background Design')); ?>
		
			<div class="link"><?php echo $this->Html->link('Background Design', array('controller'=>'designCodes', 'action'=>'index',4),array('escape' => false));?></div>
		</div>
	</td>
	<td>
	
	<div class="box">
			<?php  echo $this->Html->image('home.png', array('alt'=>'institute','height'=>'48', 'title'=>'Manage Background Design')); ?>
			<div class="link"><a href="#">Satements/Recipts</a></div>
			
		</div>
		
	</td>
	<td>
		<div class="box">
			<?php  echo $this->Html->image('home.png', array('alt'=>'institute','height'=>'48', 'title'=>'Manage Background Design')); ?>
			<div class="link"><a href="#">Refunds/Credits</a></div>
			
		</div>
	</td>
	<td><div class="box">
			<?php  echo $this->Html->image('home.png', array('alt'=>'institute','height'=>'48', 'title'=>'Manage Background Design')); ?>
			
			<div class="link"><a href="#">Alert Status </a></div>
		</div>
		
	</td>
  </tr>
  
  <tr>
	<td><div class="box">
			<?php  echo $this->Html->image('home.png', array('alt'=>'institute','height'=>'48', 'title'=>'Manage Leads')); ?>
			
			<div class="link"><a href="#">Manage Leads </a></div>
		</div>
		
	</td>
	<td>&nbsp;
		
	</td>
	<td>&nbsp;
		
	</td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>