<?php
$totalproduct = count($allproductarray);
$totalcustomer = $allcustomerarray;
$hitcounter = $hitcount;

$totalpendingorder = $pending_order_array;
$totalprocessingorder = $processing_order_array;
$totaldeliveredorder = $delivered_order_array;

?>

<table width="100%" border="0">
  <tr>
    <td colspan="2" bgcolor="#CCCCCC">Statistics </td>
    <td colspan="3" bgcolor="#CCCCCC">New customers: </td>
    <td colspan="3" bgcolor="#CCCCCC">New orders: </td>
  </tr>
  <tr>
    <td>Hit Counter:</td>
    <td width="17%"><?php echo $hitcounter; ?></td>
    <td><?php echo $newcustomerarray[0]['User']['signup_date']; ?> </td>
    <td colspan="2"><?php echo $newcustomerarray[0]['User']['full_name']; ?></td>
   
    <td colspan="2"><?php echo $new_order_array[0]['Order']['id']; ?></td>
    <td width="12%">BDT&nbsp;<?php echo $new_order_array[0]['Order']['total_amount']; ?></td>
	
	
	
  </tr>
  <tr>
    <td>Customers:</td>
    <td><?php echo $totalcustomer; ?></td>
    
	<td><?php echo $newcustomerarray[1]['User']['signup_date']; ?> </td>
    <td colspan="2"><?php echo $newcustomerarray[1]['User']['full_name']; ?></td>
	
	 <td colspan="2"><?php echo $new_order_array[1]['Order']['id']; ?></td>
    <td width="12%">BDT&nbsp;<?php echo $new_order_array[1]['Order']['total_amount']; ?></td>
  </tr>
  <tr>
    <td><span id="dtx-highlighting-item" dtx-highlight-backgroundcolor="yellow">Products</span>: </td>
    <td><?php echo $totalproduct; ?></td>
    <td><?php echo $newcustomerarray[2]['User']['signup_date']; ?></td>
    <td colspan="2"><?php echo $newcustomerarray[2]['User']['full_name']; ?></td>
  <td colspan="2"><?php echo $new_order_array[2]['Order']['id']; ?></td>
    <td width="12%">BDT&nbsp;<?php echo $new_order_array[2]['Order']['total_amount']; ?></td>
  </tr>
  <tr>
    <td>Reviews:</td>
    <td>2</td>
    <td width="12%">&nbsp;</td>
    <td width="11%">&nbsp;</td>
    <td width="11%">&nbsp;</td>
    <td width="8%">&nbsp;</td>
    <td width="12%">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#CCCCCC">Orders </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Pending:</td>
    <td><?php echo $totalpendingorder; ?></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Processing:</td>
    <td><?php echo $totalprocessingorder; ?></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Delivered:</td>
    <td><?php echo $totaldeliveredorder; ?></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
