/*
 * jQuery Nivo Slider v2.6
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}


/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.spMobilePanelMiddel_iconPanel #slider {
    margin:104px auto 0 24px;
    width:258px; /* Make sure your images are the same size */
    height:410px; /* Make sure your images are the same size */
	border:0px solid red;
}


.spMobilePanelMiddel_iconPanel .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    -webkit-box-shadow: 0px 0px 0px 0px #4a4a4a;
    -moz-box-shadow: 0px 0px 0px 0px #4a4a4a;
    box-shadow: 0px 0px 0px 0px #4a4a4a;
}
.spMobilePanelMiddel_iconPanel .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.spMobilePanelMiddel_iconPanel .nivoSlider a {
	border:0;
	display:block;
}

.spMobilePanelMiddel_iconPanel .nivo-controlNav {

	position:absolute;
	left:44%;
	bottom:0px;
    margin-left:30px; /* Tweak this to center bullets */
	border:0px solid red;
}
.spMobilePanelMiddel_iconPanel .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:0px;
	float:left;
}
.spMobilePanelMiddel_iconPanel .nivo-controlNav a.active {
	background-position:0 -22px;
}

.spMobilePanelMiddel_iconPanel .nivo-directionNav a {
	display:block;
	width:50px;
	height:50px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.spMobilePanelMiddel_iconPanel a.nivo-nextNav {
	background-position:-50px 0;
	right:15px;
}
.spMobilePanelMiddel_iconPanel a.nivo-prevNav {
	left:15px;
}

.spMobilePanelMiddel_iconPanel .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.spMobilePanelMiddel_iconPanel .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.spMobilePanelMiddel_iconPanel .nivo-caption a:hover {
    color:#fff;
}




/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.spMobilePanelMiddel_iconPanel_android #slider {
    margin:67px auto 0 24px;
    width:258px; /* Make sure your images are the same size */
    height:480px; /* Make sure your images are the same size */
	border:0px solid red;
}


.spMobilePanelMiddel_iconPanel_android .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    -webkit-box-shadow: 0px 0px 0px 0px #4a4a4a;
    -moz-box-shadow: 0px 0px 0px 0px #4a4a4a;
    box-shadow: 0px 0px 0px 0px #4a4a4a;
}
.spMobilePanelMiddel_iconPanel_android .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.spMobilePanelMiddel_iconPanel_android .nivoSlider a {
	border:0;
	display:block;
}

.spMobilePanelMiddel_iconPanel_android .nivo-controlNav {

	position:absolute;
	left:50%;
	bottom:0px;
    margin-left:30px; /* Tweak this to center bullets */
	border:0px solid red;
}
.spMobilePanelMiddel_iconPanel_android .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:0px;
	float:left;
}
.spMobilePanelMiddel_iconPanel_android .nivo-controlNav a.active {
	background-position:0 -22px;
}

.spMobilePanelMiddel_iconPanel_android .nivo-directionNav a {
	display:block;
	width:50px;
	height:50px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.spMobilePanelMiddel_iconPanel_android a.nivo-nextNav {
	background-position:-50px 0;
	right:15px;
}
.spMobilePanelMiddel_iconPanel_android a.nivo-prevNav {
	left:15px;
}

.spMobilePanelMiddel_iconPanel_android .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.spMobilePanelMiddel_iconPanel_android .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.spMobilePanelMiddel_iconPanel_android .nivo-caption a:hover {
    color:#fff;
}



/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.spMobilePanelMiddel_iconPanel_windows #slider {
    margin:45px auto 0 24px;
    width:258px; /* Make sure your images are the same size */
    height:425px; /* Make sure your images are the same size */
	border:0px solid red;
}


.spMobilePanelMiddel_iconPanel_windows .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    -webkit-box-shadow: 0px 0px 0px 0px #4a4a4a;
    -moz-box-shadow: 0px 0px 0px 0px #4a4a4a;
    box-shadow: 0px 0px 0px 0px #4a4a4a;
}
.spMobilePanelMiddel_iconPanel_windows .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.spMobilePanelMiddel_iconPanel_windows .nivoSlider a {
	border:0;
	display:block;
}

.spMobilePanelMiddel_iconPanel_windows .nivo-controlNav {

	position:absolute;
	left:50%;
	bottom:0px;
    margin-left:30px; /* Tweak this to center bullets */
	border:0px solid red;
}
.spMobilePanelMiddel_iconPanel_windows .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:0px;
	float:left;
}
.spMobilePanelMiddel_iconPanel_windows .nivo-controlNav a.active {
	background-position:0 -22px;
}

.spMobilePanelMiddel_iconPanel_windows .nivo-directionNav a {
	display:block;
	width:50px;
	height:50px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.spMobilePanelMiddel_iconPanel_windows a.nivo-nextNav {
	background-position:-50px 0;
	right:15px;
}
.spMobilePanelMiddel_iconPanel_windows a.nivo-prevNav {
	left:15px;
}

.spMobilePanelMiddel_iconPanel_windows .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.spMobilePanelMiddel_iconPanel_windows .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.spMobilePanelMiddel_iconPanel_windows .nivo-caption a:hover {
    color:#fff;
}



/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.spMobilePanelMiddel_iconPanel_blackbery #slider {
    margin:75px auto 0 24px;
    width:258px; /* Make sure your images are the same size */
    height:408px; /* Make sure your images are the same size */
	border:0px solid red;
}


.spMobilePanelMiddel_iconPanel_blackbery .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    -webkit-box-shadow: 0px 0px 0px 0px #4a4a4a;
    -moz-box-shadow: 0px 0px 0px 0px #4a4a4a;
    box-shadow: 0px 0px 0px 0px #4a4a4a;
}
.spMobilePanelMiddel_iconPanel_blackbery .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.spMobilePanelMiddel_iconPanel_blackbery .nivoSlider a {
	border:0;
	display:block;
}

.spMobilePanelMiddel_iconPanel_blackbery .nivo-controlNav {

	position:absolute;
	left:50%;
	bottom:0px;
    margin-left:30px; /* Tweak this to center bullets */
	border:0px solid red;
}
.spMobilePanelMiddel_iconPanel_blackbery .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:0px;
	float:left;
}
.spMobilePanelMiddel_iconPanel_blackbery .nivo-controlNav a.active {
	background-position:0 -22px;
}

.spMobilePanelMiddel_iconPanel_blackbery .nivo-directionNav a {
	display:block;
	width:50px;
	height:50px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.spMobilePanelMiddel_iconPanel_blackbery a.nivo-nextNav {
	background-position:-50px 0;
	right:15px;
}
.spMobilePanelMiddel_iconPanel_blackbery a.nivo-prevNav {
	left:15px;
}

.spMobilePanelMiddel_iconPanel_blackbery .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.spMobilePanelMiddel_iconPanel_blackbery .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.spMobilePanelMiddel_iconPanel_blackbery .nivo-caption a:hover {
    color:#fff;
}