




        <?php if(!empty ($content)) { ?>
		
        <?php 
			
		
			if($content['Content']['page_title'] !="")
			{
				echo "<h1 class='content_title'>".$content['Content']['page_title']."</h1>";
			
			}
			
			
			 ?>
		
		
		
       
        <?php echo $content['Content']['page_body']; ?>

        
        <?php } else { ?>
    
          <p>  Page is   not found</p>

      
         <?php } ?>





