<div class="manageModule">
<?php

	echo $form->create('Sitemodule',array('controller'=>'sitemodules','action'=>'admin_permission'));	
	
	echo $form->input('user_selected', array('options'=>$userArrayList,'Selected'=>'Select'), array('label'=>'Select User'));
	echo "<br><br><br>";
    echo "<br>";
	echo "Select Module for user permisison";
	echo "<br>";echo "<br>";

	foreach($modules as $key=>$value)
	{
		$mod_id = $value['Sitemodule']['id'];
		$mod_name = $value['Sitemodule']['modulename'];
	
		echo $form->input('Module.'.$mod_name,array('type'=>'checkbox','value'=>$mod_id));	
	
	}

    echo $form->end('Submit');


?>


</div>

