
<div class='innerright-topcontentheading'><h2>Quick Links</h2></div>

<?php
									
	foreach($quicklinks as $key=>$value)
	{
											
	  echo $html->link($value['Quicklink']['urltitle'],$value['Quicklink']['siteurl'],array('target'=>'_blank'),null, null); 			
	  echo '<br />';
	}
											
?>
								  	 		

