
<div style="background:#ddd;text-align:center;font-family:helvetica, arial, verdana, sans-serif;font-size:16px;line-height:22px;color:#222">
  <br>
  <div style="margin:0 auto;width:540px;background:white;text-align:left;padding:25px">

    
    <?php /*echo $this->Html->link(
        $this->Html->image("default/logo.jpg", array("alt" => "AFC Health")),
        "Homes",
        array('escape' => false, "target"=>"_blank")
    );*/
    ?>
    <a href="http://www.ehr.com" target="_blank"><img alt="ehr" title="ehr" src="http://www.ehr.com/app/webroot/img/default/logo.jpg" style="border:0;" /></a>
    <div style="min-height:0px;width:0px;overflow:hidden;clear:both"></div> <br />
    <p>Dear <?php echo $extranalValue[0];?>,</p>
    <h2 style="font-size:18px;border-bottom:1px solid #ccc;color:black;margin-top:10px">Thanks for joining ehr!</h2>

    <p>Your email is <?php echo $extranalValue[1];?>.</p>

    <p>You have to active your account by clicking this link: <a href="http://www.ehr.com/users/active/<?php echo $extranalValue[4];?>" target="_blank">http://www.ehr.com/users/active/<?php echo $extranalValue[4];?></a></p>

    <p>If you need any assistance or have a suggestion for us, we'd love to hear from you.</p>

    <p>Sincerely,<br>The ehr Team</p>

  </div>
  <br>

<div style="border-top:1px solid #ccc;margin-top:10px;padding:10px;color:#888;font-size:12px;font-family:arial">ehr values your privacy.</div>

  </div>
