<div id="userdashboard">

<div id="dashboarheader">
	<?php echo $this->element('dashboard_header'); ?>
</div>




<div id="dashboardContentArea">


	<div class="outBox">
		<div id="dashboardBox">			
					<div id="titleBarInnerPage">
						<div id="headerLeftBar"> </div>
						<div id="headerMiddelBar" style="width:912px;"> <div class='leftTitle'>Alerts</div> <div class='rightTitle'> <a href="<?php echo $this->webroot.'dashboards'; ?>"> [ Back To My Profile ]</a></div>   </div>
						<div id="headerRightBar"> </div>
					</div>	
					
					<div class="content" style="text-align:left;">
					
					
					<table class="alertTable">
					
					  <tr class="alterRowColor">
						<th></th>
						<th style="font-size:16px; color:#3399FF; line-height:30px; padding:10px 10px 10px 10px;">Date</th>
						<th  style="font-size:16px; color:#3399FF; padding:10px 10px 10px 10px;">Description </th>
					</tr>	
					
					
							<?php
							
								if(!empty($newsLists))
								{
								
								    $index = 0;
									$imagePath = $this->webroot.'images/menu/alertIcon.png';
									foreach($newsLists as $key=>$news)
									{
									
										$title = $news['News']['title'];
										$date = date('d/m/Y');
										$description  = $news['News']['description'];
										
										if($index%2 == 1)
										{
											$class='alterRowColor';
										}
										else
										{
											$class='';
										
										}
										
										
										
										echo "<tr class='$class'>";
											echo "<td style='width:120px;' class='rowStyle'> <img src='$imagePath' /></td>";
											echo "<td class='rowStyle'>".$date."</td>";
											echo "<td class='rowStyle'>".$description."</td>";
										echo "</tr>";
												
															
										$index++;
									 }				
								
								}
							
							
							?>
					</table>					
					
					
					
							
					<br /><br />	
					</div>			
		 </div>	
		
		
	</div>
</div>
	
	
	<div style="clear:both; float:left; margin-top:10px; height:20px;"> </div>
	























