<div id="userdashboard">

<div id="dashboarheader">
	<?php echo $this->element('dashboard_header'); ?>
</div>




<div id="dashboardContentArea">


	<div class="outBox">
		<div id="dashboardBox">			
					<div id="titleBarInnerPage">
						<div id="headerLeftBar"> </div>
						<div id="headerMiddelBar"> <div class='leftTitle'>App Dashboard</div> <div class='rightTitle'> <a href="<?php echo $this->webroot.'dashboards'; ?>"> [ Back To My Profile ]</a></div>   </div>
						<div id="headerRightBar"> </div>
					</div>	
					
					<div class="content" style="text-align:left; padding-top:0px; height:200px; height:auto;  height:400px; overflow:scroll;">
					
					<br /><br />
				
					<h1>Development In progress</h1>
					
					
							
					<br /><br />	
					</div>			
		 </div>	
		
		
	</div>
</div>
	
	
	<div style="clear:both; float:left; margin-top:10px; height:20px;"> </div>
	























