<script type="text/javascript">
jQuery(function(){
		jQuery("#name_on_card").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		jQuery("#card_number").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		jQuery("#office_name").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		jQuery("#agent_lic").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		jQuery("#billing_address").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		jQuery("#city").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		
		 jQuery("#ValidCheckbox").validate({
                    expression: "if (isChecked(SelfID)) return true; else return false;",
                    message: "Please check terms and conditions"
                });
		
		
	
	
	   jQuery("#type").validate({
			expression: "if (VAL != '') return true; else return false;",
			message: ""
	   });
	   jQuery("#month").validate({
			expression: "if (VAL != '') return true; else return false;",
			message: ""
	   });
	   jQuery("#year").validate({
			expression: "if (VAL != '') return true; else return false;",
			message: ""
	   });
	   jQuery("#ccv_number").validate({
			expression: "if (VAL != '') return true; else return false;",
			message: ""
	   });
	   jQuery("#state").validate({
			expression: "if (VAL != '') return true; else return false;",
			message: ""
	   });jQuery("#zip").validate({
			expression: "if (VAL != '') return true; else return false;",
			message: ""
	   });
	   
	 		 
			  jQuery('#billinginfo_edit').validate(function(){
		});	 
		  
		   
	});
</script>

<div id="userdashboard">

<div id="dashboarheader">
	<?php echo $this->element('dashboard_header'); ?>
</div>




<div id="dashboardContentArea">

	<div class="outBox">
		<div id="dashboardBox">			
					<div id="titleBarInnerPage">
						<div id="headerLeftBar"> </div>
						<div id="headerMiddelBar" style="width:912px;"> <div class='leftTitle'>Edit Billing Info</div> <div class='rightTitle'> </div>   </div>
						<div id="headerRightBar"> </div>
					</div>	
					
					<div class="content" style="text-align:center; height:800px; border:0px solid red;">
					
					
					<div style="float:left; width:60%; margin-left:300px; margin-top:20px;" align="center">
					
					
					
						<div class="outBox">
									<div id="dashboardBox" style="height:250px; width:350px;">			
												<div id="titleBarInnerPage" style="margin-right:-4px;">
													<div id="headerLeftBar"> </div>
													<div id="headerMiddelBar"> <div class='leftTitle' style="width:300px;">Current Billing Info</div>    </div>
													<div id="headerRightBar"> </div>
												</div>	
												
												<div class="content" style="text-align:left;">
												
												
												<div style="float:left; width:100%; text-align:left; padding-left:10px; padding-top:3px;">	
												
											
		<?php
 $orderInfo = $userInfo['UserOrderInformation'];

 
 ?>
<span class="leftColor_blueSky"> Plan Type 1 :</span><?php echo  $orderInfo[0]['Package']['name']; ?>(<?php echo  $orderInfo[0]['Term']['month_name']; ?>)
<br /> 

<span class="leftColor_blueSky"> Contact:</span>
<br /> 
<span class="leftColor_blueSky"> Due date:</span>
<br /> 
<span class="leftColor_blueSky"> Amount Due:</span><?php echo  $orderInfo[0]['amount']; ?>
<br /> 

<span class="leftColor_blueSky"> Card Type:</span><?php echo  $orderInfo[0]['type']; ?>
<br /> 
<span class="leftColor_blueSky"> Name on Card:</span><?php echo  $orderInfo[0]['name_on_card']; ?>
<br /> 
<span class="leftColor_blueSky"> Card Number:</span>
<?php echo $ccmask = str_pad(substr( $orderInfo[0]['card_number'], -4), strlen( $orderInfo[0]['card_number']), 'x', STR_PAD_LEFT);  ?>


<br /> 
<span class="leftColor_blueSky"> Exp Date:</span><?php echo  $orderInfo[0]['month'].'/'.$orderInfo[0]['year']; ?>
<br /> 

<span class="leftColor_blueSky"> CCV Code:</span><?php echo  $orderInfo[0]['cvv_no']; ?>
<br /> 
<span class="leftColor_blueSky"> Billing Address:</span><?php echo $orderInfo[0]['billing_address']."&nbsp;".$orderInfo[0]['address2'].'&nbsp;'.
$orderInfo[0]['city'].',&nbsp;'.$orderInfo[0]['state'].'&nbsp;'.$orderInfo[0]['zip']; ?><br />  
<br /> 
													<div style="clear:both;"> </div>								
												  <div style="clear:both;"> </div>	
												  <div style="clear:both;"> </div>	
												
												
												
												</div>												
																	
												
												
												
												
												</div>			
									 </div>	
									
									
								</div>					
					
					
					</div>
					
					<hr />
					<br />
					<br />
					
					<div style="float:left; width:100%; height:300px; margin:100px 0px 0px 100px;" id="billinginfo_edit">
						<?php 
						echo $this->Form->create(null, array('id'=>'create_an_account','controller'=>'dashboards','action' => 'billinginfo_edit')); ?>
			
					
					<span class="leftColor_blueSky" style=" padding-left:70px;"> New  CREDIT CARD INFO </span>
					
					<table width='100%' align="left";>
				<tr>
					
					<td style='width:21%;text-align:right;'> Type* </td> 
					<td style='width:60%;  text-align:left;'>
						<select name="data[UserOrderInformation][type]" id="type">
<option value="visa">Visa</option>
<option value='mastercard'> Master Card</option>
<option value='discover'>Discover</option>
<option value='american_express'>American Express</option>
</select> </td>
				</tr>
			
				
				<tr>
					
					<td style='width:21%;text-align:right;'>  Name on Card*</td> 
					<td style='width:60%;  text-align:left;'>
					<?php echo $this->Form->input('UserOrderInformation.name_on_card',array('type'=>'text','value'=>'','label'=>false,'div'=>false,'id'=>'name_on_card','size'=>'55'));?>
					 </td>
				</tr>
				
				
				<tr>
					
					<td style='width:21%;text-align:right;'>  Card Number*</td> 
					<td style='width:60%;  text-align:left;'>
					
					<?php echo $this->Form->input('UserOrderInformation.card_number',array('type'=>'text','value'=>'','label'=>false,'div'=>false,'id'=>'card_number','size'=>'27'));?>
				
					 </td>
				</tr>
				
				<tr>
				
					<td style='width:21%;text-align:right;'>  Exp Date *</td> 
					<td style='width:60%;  text-align:left;'>
<select name="data[UserOrderInformation][month]" id="month">
<option value="01">Jan</option>
<option value="02">Feb</option>
<option value="03">Mar</option>
<option value="04">Apr</option>
<option value="05">May</option>
<option value="06">Jun</option>
<option value="07">Jul</option>
<option value="08">Aug</option>
<option value="09">Sep</option>
<option value="10">Oct</option>
<option value="11">Nov</option>
<option value="12">Dec</option>

</select>

<select name="data[UserOrderInformation][year]" id="year">

<?php 
	for($i=12; $i<100; $i++)
	{
		echo "<option value='$i'>$i</option>";
	}
?>	
</select>

CVV No * 

<?php echo $this->Form->input('UserOrderInformation.cvv_no',array('type'=>'text','label'=>false,'div'=>false,'id'=>'ccv_number','size'=>'8'));?>
				


</td>
				</tr>
				
				
				<tr>
				 
					<td style='width:21%;text-align:right;'>  Billing Address 1*</td> 
					<td style='width:60%;  text-align:left;'>
					
					<?php echo $this->Form->input('UserOrderInformation.billing_address',array('type'=>'text','value'=> '','label'=>false,'div'=>false,'id'=>'billing_address','size'=>'55'));?>
	
				 </td>
				</tr>
				
				
				<tr>
					
					<td style='width:21%;text-align:right;'>   Address 2</td> 
					<td style='width:60%;  text-align:left;'>
	<?php echo $this->Form->input('UserOrderInformation.address2',array('type'=>'text','value'=> '','label'=>false,'div'=>false,'id'=>'address2','size'=>'55'));?>
					
					
					 </td>
				</tr>
				
				
				<tr>
					
					<td style='width:21%;text-align:right;'>  City *</td> 
					<td style='width:60%;  text-align:left;'>
						
							<?php
							
						
							
							
							 echo $this->Form->input('UserOrderInformation.city',array('type'=>'text','value'=> '','label'=>false,'style'=>'width:80px;','div'=>false,'id'=>'city'));?>
	
						
						&nbsp;&nbsp;&nbsp;
						State *&nbsp;&nbsp;<select name="data[UserOrderInformation][state]" id="state" style="width:50px;">
						
<?php
						
							
							foreach($stateLists as $key=>$data)
							{
							
								$name = $data['State']['name'];
								$code = $data['State']['code'];
								
								if($orderInfo[0]['state'] == $code)
								{
									$selected ='selected';
								}
								else
								{
									$selected = '';							
								}	
								
								
								echo "<option  $selected value='$code'>$name</option>";	
							
							
							}
						
						
						
						?>
						
						</select>

						&nbsp;&nbsp;&nbsp;ZIP *&nbsp;
							<?php echo $this->Form->input('UserOrderInformation.zip',array('type'=>'text','value'=>'','label'=>false,'div'=>false,'id'=>'zip','size'=>'4'));?>
	
						
						
					</td>
				</tr>
				
							
				
				
				
			
			</table>
					
				
					<table width='100%' style="margin-top:50px;">
				<tr>
						<td width="40%"> </td>				
					
					<td width="40px;">
					
					<a href="<?php echo $this->webroot.'dashboards/'; ?>"> <img src="<?php echo $this->webroot.'img/back.png'; ?>" /> </a>
					 </td>
					
					<td valign="top">
					
					<?php echo $form->submit('update.png', array('div'=>false)); ?>
					
					 </td>
					
					
				</tr>
			</table>
					</div>
					
					
										
					
					
				
							
					
					</div>			
		 </div>	
		
		
	</div>
</div>
	
	
	<div style="clear:both; float:left; margin-top:10px; height:20px;"> </div>
	























