<script type="text/javascript">
jQuery(function(){
		jQuery("#oldpassword").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		jQuery("#newpassword").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		jQuery("#confirm_newpassword").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		jQuery("#agent_lic").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		jQuery("#billing_address").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		jQuery("#city").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		
		 jQuery("#ValidCheckbox").validate({
                    expression: "if (isChecked(SelfID)) return true; else return false;",
                    message: "Please check terms and conditions"
                });
		
		
	
	
	   jQuery("#type").validate({
			expression: "if (VAL != '') return true; else return false;",
			message: ""
	   });
	   jQuery("#month").validate({
			expression: "if (VAL != '') return true; else return false;",
			message: ""
	   });
	   jQuery("#year").validate({
			expression: "if (VAL != '') return true; else return false;",
			message: ""
	   });
	   jQuery("#ccv_number").validate({
			expression: "if (VAL != '') return true; else return false;",
			message: ""
	   });
	   jQuery("#state").validate({
			expression: "if (VAL != '') return true; else return false;",
			message: ""
	   });jQuery("#zip").validate({
			expression: "if (VAL != '') return true; else return false;",
			message: ""
	   });
	   
	 		 
			  jQuery('#change_password').validate(function(){
		});	 
		  
		   
	});
</script>

<div id="userdashboard">

<div id="dashboarheader">
	<?php echo $this->element('dashboard_header'); ?>
</div>




<div id="dashboardContentArea">

	<div class="outBox">
		<div id="dashboardBox">			
					<div id="titleBarInnerPage">
						<div id="headerLeftBar"> </div>
						<div id="headerMiddelBar"> <div class='leftTitle'>Change Password</div> <div class='rightTitle'> </div>   </div>
						<div id="headerRightBar"> </div>
					</div>	
					
					<div class="content" style="text-align:center; height:800px; border:0px solid red;">
					
					
					
					
					<hr />
					<br />
					<br />
					<div style=" clear:both;"> </div>
					<?php echo $this->Form->create(null, array('id'=>'change_password','controller'=>'dashboards','action' => 'change_password')); ?>
					<table style="margin-left:230px; margin-top:30px;">
					
						
						<tr>
							<td> Old Password</td> <td> <input type="password" name="data[User][password]" id="password" />  </td>
						</tr>
						
						<tr>
							
							<td> New Password</td> <td> <input type="password" name="data[User][newpassword]" id="newpassword"/>  </td>
						</tr>	
						
						<tr>
							<td> Confirm Password</td> <td> <input type="password" name="data[User][confirm_newpassword]" id="confirm_newpassword" />  </td>
								
						</tr>
						
						<tr>
							<td> </td> <td>	<?php echo $form->submit('submit_big.png', array('div'=>false)); ?> </td> 
							
						</tr>	
					
					</table>
				
					
															
					
					
				
							
					
					</div>			
		 </div>	
		
		
	</div>
</div>
	
	
	<div style="clear:both; float:left; margin-top:10px; height:20px;"> </div>
	























