<div id="my-dashboard">
	<h4>Manage Warranty  </h4>
	<?php echo $this->Form->create('Dashboard', array('controller'=>'dashboards','action'=>'managewarranty')); ?>
	<table width="100%" border="0">
  <tr>
    <td width="15%">Order Id : <?php echo $productinfo['order_id'];?>
	<input type="hidden" name="data[WarantyProduct][order_id]" value="<?php echo $productinfo['order_id']; ?>" size="60"  />
	</td>
    <td width="85%"><input type="hidden" name="data[WarantyProduct][product_id]" value="<?php echo $productinfo['product_id']; ?>" size="60"  /></td>
  </tr>
  <tr>
    <td>Product Code: <?php echo $productinfo['Product_code']?>	
	</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Subject</td>
    <td><input type="text" name="data[WarantyProduct][subject]" size="60"  /></td>
  </tr>
  <tr>
    <td valign="top">Description</td>
    <td><textarea name="data[WarantyProduct][description]" rows="5" cols="100"></textarea></td>
  </tr>
</table>
<div class="submit-main-box" style="border-top: 1px solid #CCCCCC;">
					<span class="forgot-password"><a href="#" style="color:#005b9a;"><b>&lt;&lt; BACK</b></a></span>					
					<?php echo $form->submit('submit.jpg', array('div'=>false,'class'=>'submit-btn-box')); ?>
					<div class="clear"></div>
</div>
  
<div class="clear"></div>	
</div>