<div id="userdashboard">

<div id="dashboarheader">
	<?php echo $this->element('dashboard_header'); ?>
</div>




<div id="dashboardContentArea">


	<div class="outBox">
		<div id="dashboardBox">			
					<div id="titleBarInnerPage">
						<div id="headerLeftBar"> </div>
						<div id="headerMiddelBar" style="width:912px;"> <div class='leftTitle'>News</div> <div class='rightTitle'> <a href="<?php echo $this->webroot.'dashboards'; ?>"> [ Back To My Profile ]</a></div>   </div>
						<div id="headerRightBar"> </div>
					</div>	
					
					<div class="content" style="text-align:left; padding-top:0px; height:100%;  ">
					
					<br /><br />
					<table>
			
				<tr> <td colspan='2'><hr></td> </tr>
			<?php
		
		
			if(!empty($newsLists))
			{
			
				foreach($newsLists as $key=>$news)
				{
				
					$title = $news['News']['title'];
					$author = $news['News']['author'];
					$created = 	date('F d,Y   h:i a',strtotime($news['News']['created']));
					$description  = $news['News']['description'];
					$image  = $news['News']['image'];
					
					$img = $this->webroot.$image;
					
					echo "<tr>";
						echo "<td><img src='$img' height='100' width='100' style='float:left;'> </td>";
						echo "<td>
								<span id='newsTitle'>$title</span>
								<br>
								Posted   $created       by $author
								<br><br>
								$description
						 </td>";
					echo "</tr>";	
					
					echo "<tr> <td colspan='2'><hr></td> </tr>";
				
										
					
				 }				
			
			}
		
		
		
		?>
		</table>				
					
					
					
							
					<br /><br />	
					</div>			
		 </div>	
		
		
	</div>
</div>
	
	
	<div style="clear:both; float:left; margin-top:10px; height:20px;"> </div>
	























