<div id="userdashboard">

<div id="dashboarheader">
	<?php echo $this->element('dashboard_header'); ?>
</div>




<div id="dashboardContentArea">

	<div class="outBox">
		<div id="dashboardBox">			
					<div id="titleBarInnerPage">
						<div id="headerLeftBar"> </div>
						<div id="headerMiddelBar" style="width:912px;"> <div class='leftTitle'>Edit Profile Pic</div> <div class='rightTitle'> </div>   </div>
						<div id="headerRightBar"> </div>
					</div>	
					
					<div class="content" style="text-align:left; height:500px;">
					
					
					<div style="float:left; width:45%; margin:20px;">
					
					
					
						<div class="outBox">
									<div id="dashboardBox" style="height:195px;">			
												<div id="titleBarInnerPage" style="margin-right:-4px;">
													<div id="headerLeftBar"> </div>
													<div id="headerMiddelBar"> <div class='leftTitle'>Current Pic</div> <div class='rightTitle'> </div>   </div>
													<div id="headerRightBar"> </div>
												</div>	
												
												<div class="content" style="text-align:center;">
												
												
												<div style="float:left; width:50%; text-align:center; padding-left:90px; padding-top:3px;">	
												
											
													<?php
													
														if(isset($userInfo))
														{
														
															$picture = $userInfo['User']['picture'];
															
															if($picture == '')
															{
																$file = $this->webroot.'images/profile/profile_pic.jpg'; 
																echo "<img src='$file' width='150' height='140' /> ";
															
															}
															else
															{
																$file = $this->webroot.$picture;
																
																echo "<img src='$file' width='150'  height='140' /> ";															
															
															}
														
														
														
														}
													
													
													?>	
													
													<div style="clear:both;"> </div>								
												  <div style="clear:both;"> </div>	
												  <div style="clear:both;"> </div>	
												
												
												
												</div>												
																	
												
												
												
												
												</div>			
									 </div>	
									
									
								</div>					
					
					
					</div>
					
					<div style="float:left; width:45%; height:300px; margin:100px 0px 0px 30px;">
					<?php echo $form->create(null,array('controller'=>'dashboards','action'=>'profile_edit','enctype'=>"multipart/form-data")); ?>
					
					<table>
						<tr>
						<td style="font-size:18px; padding-right:10PX; font-weight:bold;"> New Pic </td>
						<td> <input  name="data[User][picture]" type="file" /> </td>
						<td> </td>					
						</tr>
						
												<tr>
						<td></td>
						<td> <?php echo $form->submit('upload.png', array('div'=>false,'class'=>'submit-btn-box')); ?> </td>
						<td> </td>					
						</tr>

						
						
					</table>
						
					
					</div>
					
					
										
					
					
					<div style="float:right; margin-right:50px;">
					
						<a href="<?php echo $this->webroot.'dashboards'; ?>">
						
							<img src="<?php echo $this->webroot.'img/back.png'; ?>" />
						</a>
					</div>
							
					
					</div>			
		 </div>	
		
		
	</div>
</div>
	
	
	<div style="clear:both; float:left; margin-top:10px; height:20px;"> </div>
	























