<div id="userdashboard">

<div id="dashboarheader">
	<?php echo $this->element('dashboard_header'); ?>
</div>



<div id="dashboardContentArea">


	<div class="outBox">
		<div id="dashboardBox">			
					<div id="titleBarInnerPage">
						<div id="headerLeftBar"> </div>
						<div id="headerMiddelBar" style="width:912px;">
						
						<div class='leftTitle'>Referral Summary</div> <div class='rightTitle'>
							 <a href="<?php echo $this->webroot.'dashboards'; ?>"> [ Back To My Profile ]</a>							 
						</div>
												
						</div>
						<div id="headerRightBar"> </div>
					</div>	
					
					<div class="content" style="text-align:left;">
					
					
					<table class="alertTable">
					
					  <tr class="alterRowColor">
						
						<th style="font-size:16px; color:#3399FF; line-height:30px; padding:10px 10px 10px 10px;">ID</th>
						<th  style="font-size:16px; color:#3399FF; padding:10px 10px 10px 10px;">First Name </th>
						<th  style="font-size:16px; color:#3399FF; padding:10px 10px 10px 10px;">Last Name </th>
						<th  style="font-size:16px; color:#3399FF; padding:10px 10px 10px 10px;">Date Signed </th>
						<th  style="font-size:16px; color:#3399FF; padding:10px 10px 10px 10px;">Plan </th>
					</tr>	
					
					
						<?php
						
						
						if(!empty($referralSummaryLists))
						{
							$count = 0;
							foreach($referralSummaryLists as $data)
							{
								
								$member_id = $data['User']['member_id'];
								
								$first_name = $data['UserAgentInformation']['first_name'];
								
								$last_name = $data['UserAgentInformation']['last_name'];
								
								$date_signed_up = date('m/d/Y',strtotime($data['User']['signup_date']));
								
								$plan = 'none';
								
								
								if($count%2 == 1)
								{
									$class = "class='alterRowColor'";
								}
								else
								{
									$class = '';
								}
								
							 
								echo "
									<tr $class>
										<td> $member_id</td> <td>$first_name </td> <td>$last_name </td> <td>$date_signed_up</td> <td>$plan</td>
									</tr>";
							 
							
							$count++;
							}
						
						
						
						}
							
						
						
						
						?>
					
							
					</table>					
					
					
					
							
					<br /><br />	
					</div>			
		 </div>	
		
		
	</div>
</div>


	
	
<div style="clear:both; float:left; margin-top:10px; height:20px;"> </div>
	























