<div id="userdashboard">

<div id="dashboarheader">
	<?php echo $this->element('dashboard_header'); ?>
</div>




<div id="dashboardContentArea">


	<div class="outBox">
		<div id="dashboardBox">			
					<div id="titleBarInnerPage">
						<div id="headerLeftBar"> </div>
						<div id="headerMiddelBar" style="width:912px;"> <div class='leftTitle'>Reward History</div> <div class='rightTitle'> <a href="<?php echo $this->webroot.'dashboards'; ?>"> [ Back To My Profile ]</a></div>   </div>
						<div id="headerRightBar"> </div>
					</div>	
					
					<div class="content" style="text-align:left;">
					
					
					<table class="alertTable">
					
					  <tr class="alterRowColor">
						
						<th style="font-size:16px; color:#3399FF; line-height:30px; padding:10px 10px 10px 10px;">Referance ID</th>
						<th  style="font-size:16px; color:#3399FF; padding:10px 10px 10px 10px;">Discount Type </th>
						<th  style="font-size:16px; color:#3399FF; padding:10px 10px 10px 10px;">Awarded </th>
						<th  style="font-size:16px; color:#3399FF; padding:10px 10px 10px 10px;">Effective </th>
						<th  style="font-size:16px; color:#3399FF; padding:10px 10px 10px 10px;">Comments </th>
					</tr>	
					
					
					<tr>					
						<td>331461 </td>
						<td> $49.99 Credit</td>
						<td> 2/2/2012</td>
						<td>2/2/2012 - 3/3/2012 </td>
						<td> Paid in Full 1yr $49.99 Credit</td>						
					</tr>	
					
					<tr class="alterRowColor">					
						<td>331461 </td>
						<td> $49.99 Credit</td>
						<td> 2/2/2012</td>
						<td>2/2/2012 - 3/3/2012 </td>
						<td> Paid in Full 1yr $49.99 Credit</td>								
					</tr>	
					
					
					<tr>					
					<td>331461 </td>
						<td> $49.99 Credit</td>
						<td> 2/2/2012</td>
						<td>2/2/2012 - 3/3/2012 </td>
						<td> Paid in Full 1yr $49.99 Credit</td>						
					</tr>	
					
					
					<tr class="alterRowColor">									
						<td>331461 </td>
						<td> $49.99 Credit</td>
						<td> 2/2/2012</td>
						<td>2/2/2012 - 3/3/2012 </td>
						<td> Paid in Full 1yr $49.99 Credit</td>						
					</tr>	
					
					
					<tr >								
						<td>331461 </td>
						<td> $49.99 Credit</td>
						<td> 2/2/2012</td>
						<td>2/2/2012 - 3/3/2012 </td>
						<td> Paid in Full 1yr $49.99 Credit</td>						
					</tr>	
					
					
							
					</table>					
					
					
					
							
					<br /><br />	
					</div>			
		 </div>	
		
		
	</div>
</div>
	
	
	<div style="clear:both; float:left; margin-top:10px; height:20px;"> </div>
	























