<?php //pr($EmergencyContact);
if(isset($EmergencyContact) && !empty ($EmergencyContact)) {
    $i=1;
    foreach ($EmergencyContact as $list) {
        ?>
<div style="float: left; width: 48%" class="">
    <h3>Contact <?php echo $i; ?> </h3>
    <div class="element">
        <div class="title">Name:</div>
        <div class="value">
            <input type="text" name="data[EmergencyContact][name][]" value="<?php echo $list["EmergencyContact"]["name"]; ?>" />
            <input type="hidden" name="data[EmergencyContact][id][]" value="<?php echo $list["EmergencyContact"]["id"]; ?>" />

            <label class="error" generated="true" for="ProfileStreetAddress"></label></div>
    </div>

    <div class="element">
        <div class="title">Relationship:</div>
        <div class="value">
            <input type="text" name="data[EmergencyContact][relationship][]" value="<?php echo $list["EmergencyContact"]["relationship"]; ?>" />
            <label class="error" generated="true" for="ProfileStreetAddress"></label></div>
    </div>

    <div class="element">
        <div class="title">Mobile:</div>
        <div class="value"><input type="text" name="data[EmergencyContact][mobile][]" value="<?php echo $list["EmergencyContact"]["mobile"]; ?>" />
            <label class="error" generated="true" for="ProfileCity"></label></div>
    </div>

    <div class="element">
        <div class="title">Other:</div>
        <div class="value">
            <input type="text" name="data[EmergencyContact][other][]" value="<?php echo $list["EmergencyContact"]["other"]; ?>" />
            <label class="error" generated="true" for="ProfileCity"></label></div>
    </div>

    <div class="element">
        <div class="title">Area:</div>
        <div class="value">
            <input type="text" name="data[EmergencyContact][area][]" value="<?php echo $list["EmergencyContact"]["area"]; ?>" />
            <label class="error" generated="true" for="ProfileCountry"></label></div>
    </div>
</div>

        <?php
        $i++;
    }
}

else {
    ?>


<div style="float: left; width: 48%">
    <h3>Contact 1 </h3>
    <div class="element">
        <div class="title">Name:</div>
        <div class="value">
            <input type="text" name="data[EmergencyContact][name][]" />
            <label class="error" generated="true" for="ProfileStreetAddress"></label></div>
    </div>

    <div class="element">
        <div class="title">Relationship:</div>
        <div class="value">
            <input type="text" name="data[EmergencyContact][relationship][]" />
            <label class="error" generated="true" for="ProfileStreetAddress"></label></div>
    </div>

    <div class="element">
        <div class="title">Mobile:</div>
        <div class="value"><input type="text" name="data[EmergencyContact][mobile][]" />
            <label class="error" generated="true" for="ProfileCity"></label></div>
    </div>

    <div class="element">
        <div class="title">Other:</div>
        <div class="value">
            <input type="text" name="data[EmergencyContact][other][]" />
            <label class="error" generated="true" for="ProfileCity"></label></div>
    </div>

    <div class="element">
        <div class="title">Area:</div>
        <div class="value">
            <input type="text" name="data[EmergencyContact][area][]" />
            <label class="error" generated="true" for="ProfileCountry"></label></div>
    </div>
</div>


<div style="float: left; width: 48%">
    <h3>Contact 2 </h3>
    <div class="element">
        <div class="title">Name:</div>
        <div class="value">
            <input type="text" name="data[EmergencyContact][name][]" />
            <label class="error" generated="true" for="ProfileStreetAddress"></label></div>
    </div>

    <div class="element">
        <div class="title">Relationship:</div>
        <div class="value">
            <input type="text" name="data[EmergencyContact][relationship][]" />
            <label class="error" generated="true" for="ProfileStreetAddress"></label></div>
    </div>

    <div class="element">
        <div class="title">Mobile:</div>
        <div class="value"><input type="text" name="data[EmergencyContact][mobile][]" />
            <label class="error" generated="true" for="ProfileCity"></label></div>
    </div>

    <div class="element">
        <div class="title">Other:</div>
        <div class="value">
            <input type="text" name="data[EmergencyContact][other][]" />
            <label class="error" generated="true" for="ProfileCity"></label></div>
    </div>

    <div class="element">
        <div class="title">Area:</div>
        <div class="value">
            <input type="text" name="data[EmergencyContact][area][]" />
            <label class="error" generated="true" for="ProfileCountry"></label></div>
    </div>
</div>


    <?php } ?>
