<?php
echo $javascript->link('fckeditor');
?>



<div class="row" style='float:right;'>
	<div class="inputs">

	<span class="button blue_button"><span><span><em><a style="float:right;" href="<?php echo $this->webroot.'admin/posts'; ?>">Post Lists </a></em></span></span></span>
		
	</div>		
</div>	

<div style="clear:both;"> </div>							
	<div class="table_wrapper">
								<div class="table_wrapper_inner">
								
									<?php echo $this->Form->create('Post', array('type' => 'file')); ?>
	
			<table cellpadding="0" cellspacing="0" width="100%">
			
			
			
			<tr>
			
			<td> Select Category </td>
			
			<td>
			
			<?php echo $form->input('category_id', array('label' => false, 'options'=>$categories,'div' => false)); ?>
			</td>
			</tr>
			
			<td> Select Tag </td>
			
			<td>
			
			<?php foreach($tags as $id=>$name)
				  {
				  
				     echo "<input type='checkbox' value='$id' name='data[Post][tag_id][]'> &nbsp;". $name;
					 
					
				  
				  }?>
			</td>
			</tr>
			
			<tr>
			<td style="width:100px;"> Title </td>
			
			<td>
			
			
			<?php echo $form->input('title', array('label' => false, 'size'=>'80px;','div' => false)); ?>
			
			</td>
			
			</tr>
			
			<tr>
			
			<td style="vertical-align:text-top"> Description </td>
			
			
			
			<td><p style="color:red;">Code Writing Instruction : </p>
			<p style="color:green;">Code HightLight Syntax  : For Code Background use start TAG [code] and ending tag [/code] </p>
			<p style="color:green;">Step Title  HightLight Syntax : For Code Step use start TAG [codestep] and ending tag [/codestep] </p>
			
			
			<?php echo $form->input('details', array('label' => false,  'style'=>'width:400px; height:200px;', 'div' => false));
				   echo $fck->load('Post/details'); 
			
			
			 ?>
			
			</td>
			
			</tr>
			
			
			
			<tr>
			
			<td> Published </td>
			
			<td>
			
			
			<?php echo $form->input('status', array('label' => false,'type'=>'checkbox', 'div' => false)); ?>
			
			
			</td>
			</tr>
			
			<tr>
			
			<td>  </td>
			
			<td>
			
			
			<?php echo $form->submit('Save'); ?>
			
			</td>
			
			
			</tr>
			</table>

<?php echo $form->end(); ?>


</div>
</div>