

<script type="text/javascript" src="<?php echo $this->webroot.'js';?>/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
		mode : "textareas",
		  theme : "advanced",
        plugins : "emotions,spellchecker,advhr,insertdatetime,preview", 
                
        // Theme options - button# indicated the row# only
        theme_advanced_buttons1 : "newdocument,|,bold,italic,underline,|,justifyleft,justifycenter,justifyright",
        theme_advanced_buttons2 : "undo,redo,|,link,unlink,anchor,image,|,code,preview,|,forecolor,backcolor",
        theme_advanced_buttons3 : "insertdate,inserttime,|,spellchecker,|,sub,sup,|,charmap,emotions",      
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true

	});
</script>




<!-- Form validation -->

 
    <script type="text/javascript" src="<?php echo $this->webroot.'jquery';?>/jQuery.Validate.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
      $("#PostCommentAddForm").validate();
      });
    </script>

<!-- end form validation -->








<div>

  <?php
  
	
	
	if(isset($posts))
	{								   
	$serial = 1;
	

	
		$id = $posts['Post']['id'];
		$title = $posts['Post']['title'];
		$details = $posts['Post']['details'];
		
		if($serial %2 == 1)
		{
			$alter_row = 'first';
		}
		else
		{	
			$alter_row = 'second';		
		}
		
		echo "<div class='blog_title'>";
		
				echo $this->Html->link($title,array('controller'=>'posts','action'=>'details',$title));
			echo "<hr>";
		
		echo "</div>";
		
		echo "<div class='blog_details'>";
		
		   $find = array('[code]','[/code]','[codestep]','[/codestep]');				
		   $replacer = array("<div class='codehightlight'>",'</div>',"<div class='codestep'>",'</div>');
		   
		  
		   
		   
		   echo  $post_details = str_replace($find,$replacer, $details); 
		   
		  
		  echo "<br><br>";
		   if(!empty($posts['PostTag']))
			{
				
				echo "Tags : ";
				foreach($posts['PostTag'] as $key=>$tags)
				{
				   // pr($tags);
				    echo "<b>";
					echo $tags['Tag']['name'].', &nbsp;';
					echo "</b>";
				
				}
				
			}
			echo "<br><br>";
		   
		
		echo "</div>";
		
		
		/************************ Post Comments List ********************/
		
		/*
		
		if(!empty($posts['PostComment']))
		{
			echo "<div class='post_comments'>";
			
			$no_of_comments = sizeof($posts['PostComment']);
			echo "<span style='font-size:26px;'>".$no_of_comments."</span><h2>Comments: </h2>";
			
			foreach($posts['PostComment'] as $dataComments)
			{
			
				$post_comment_id = $dataComments['id'];
				
			
			
			  //*************** Code Heighlight by block ***************
				$find = array('[code]','[/code]');				
				$replacer = array("<div class='codehightlight'>",'</div>');
				$comments = $newstr = str_replace($find,$replacer, $dataComments['comments']); 
				
				//************* End *************************************
				
				
				
				
				
				
				
				
				
				
				
				
				$name = $dataComments['users'];
				$website_url = $dataComments['website_url'];
				$email = $dataComments['email'];
				
				
				$created = date("F j, Y, g:i A",strtotime($dataComments['created']));
				
				
				echo "<div class='comment_left'>";
				
				 $wbroot = $this->webroot.'img/noavatar92.png';
					  echo "<img border='0' src=$wbroot>";
				echo "</div>";
				
				
				echo "<div class='comment_right'>";
				
					echo "<p class='comment_user_name'>".$name."</p>";
					echo "<p class='comment_date'>".$created."</p>";
					echo "<div class='user_comments'>".$comments."</div>";
				
				echo "</div>";
				
								 
								
				echo "<div style='clear:both;'> </div>";
				
				echo "<br>";
				
				 echo "<br><br>";
			   
			
			}
			
			
			echo "</div>";
			
		}
		
		
		*/
		/************************ End Post Comments *****************/
		
		
		
		
		echo "<div id='post_comments_form'>";
		
		/*
		
		 echo $this->Form->create('PostComment',array('controller'=>'post_comments','action'=>'add')); 
           echo $this->Form->input('post_id',array('type'=>'hidden','value'=>$id));
		   echo $this->Form->input('Post.title',array('type'=>'hidden','value'=>$title));  
			 echo $this->element('widget/comments_form');		
			 echo $form->submit('Post Your Answer',array('class'=>'comment_submit_button'));
		 echo $form->end();
		 
		 */
		
		echo "</div>";
		
}		
  
  ?>


</div>


