
<script type="text/javascript">
jQuery(function(){
		jQuery("#name").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		
		jQuery("#emailaddress").validate({
			expression: "if (VAL) return true; else return false;",
			message: ""
			
		});
		
		
		 jQuery("#cell").validate({
				expression: "if (VAL) return true; else return false;",
			message: ""
		 });	
		 
		  jQuery("#details").validate({
				expression: "if (VAL) return true; else return false;",
			message: ""
		 });		 
			 
		
	   
		jQuery('#contactus').validate(function(){
		});	
	});
	
</script>	



		<MAP NAME="contactus_mobile_map">		
	<AREA  HREF="mailto:info@smartactic.com"  target="_blank"   SHAPE=RECT COORDS="40,250,225,295" style="border:1px solid red;">
	<AREA  HREF="http://www.facebook.com/smartactic" target="_blank"   SHAPE=RECT COORDS="40,280,225,335" style="border:1px solid red;">
	<AREA  HREF="http://www.twitter.com/smartactic" target="_blank"   SHAPE=RECT COORDS="40,360,225,400" style="border:1px solid red;">
			
		</MAP>		
		
		


<div style="margin-top:20px; margin-left:90px;">
<p><span>
		<?php If ($this->Session->check('Message.flash'))
		echo $this->Session->flash();
		?></span>
	</p>


<div style="float:left;">

	
<?php echo $this->Form->create('Contactus', array('action' => 'add','id'=>'contactus')); ?>

	<h1 style="text-align:left; color:#000000; font-size:22px; padding-left:0px;"> How can we help? </h1>
	
	
	
	<div style="padding-left:0px; padding-top:20px; font-size:16px;">
	
	<p style="margin-top:4px; margin-bottom:5PX;">Name</p>
	<input type="text" name="data[Contactus][name]" id="name" />
	<br />	
	<p style="margin-top:6px; margin-bottom:5PX;">Cell</p>
	<input type="text" name="data[Contactus][emailaddress]" id="cell" />
	<br />	
	<p style="margin-top:6px; margin-bottom:5PX;">Email</p>
	<input type="text" name="data[Contactus][emailaddress]" id="emailaddress" />
	<br />	
	
<p style="margin-top:6px; margin-bottom:5PX;">Questions or Comments</p>
	<textarea name="data[Contactus][details]" id="details" cols="35" rows="12"></textarea>
	
	<br />
	<br />
	<p align="center">
	<?php echo $form->submit('submit_big.png', array('div'=>false,'class'=>'login-btn')); ?>
	</p>
	


	
</div>

</div>


	<div style="float:left; margin-left:60px; padding-top:20px;">
	
		<img src="<?php echo $this->webroot.'images/packages/shadow_vertical.png';?>" />
	</div>
	
	
	

	<div style="float:left; padding-left:50px; padding-top:0px;">
	
	<img  src="<?php echo $this->webroot.'img/contact_us_mobile.png';?>"  USEMAP="#contactus_mobile_map">
	
	
	</div>

</div>


<div style="height:50px; clear:both;"> </div>