<strong><?php __('Title'); ?>:</strong>
<?php echo '<strong>' .$news['News']['title'].'</strong>' ?><br /><br />
<strong><?php __('Description'); ?>:</strong>
<?php echo $news['News']['description']; ?>

